#customize-theme-controls { position: fixed; top: 0; bottom: 0; width: 300px; overflow: auto; background: #f5f5f5; border-right: 1px solid rgba( 0, 0, 0, 0.2 ); z-index: 500000; font-family: Arial, sans-serif; color: #333; font-size: 12px; left: -301px; }
	#customize-theme-controls a { text-decoration: none; }
	#customize-theme-controls:after { content: ''; display: block; position: absolute; top: 0; bottom: 0; right: 0; width: 3px; box-shadow: -5px 0 4px -4px rgba(0, 0, 0, 0.1) inset; z-index: 1000; }
	.customize-section { border-top: 1px solid #fff; border-bottom: 1px solid #dfdfdf; margin: 0; position: relative; }
		.customize-section:first-child:before { content: ''; position: absolute; top: -2px; left: 0; width: 100%; height: 1px; background: #dfdfdf; }
		.customize-section:last-child:before { content: ''; position: absolute; bottom: -2px; left: 0; width: 100%; height: 1px; background: #fff; }
	.customize-section:mouseover, .control-section > h3.et-customizer-open { border-bottom-color: #6d6d6d; border-top-color: #808080; }

	.control-section.customize-section.open { border-top-color: #808080; }

	#et-customizer-title h3, .control-section > h3 { color: #333; font-weight: normal; letter-spacing: 0; }
	.control-section > p {color:#878787;line-height:22px; font-size: 17px; text-transform: capitalize; position: relative; padding-bottom:0px;  font-weight: bold; text-shadow: 0 1px 0 #fff; background: #f5f5f5; background-attachment:none;}
		.control-section > h3:after { content: ''; width: 0; height: 0; border-color: #ccc transparent;  position: absolute; top: 15px; right: 20px; z-index: 1; }
	.control-section h3:hover, .control-section > h3.et-customizer-open { cursor: pointer; color: #fff; text-shadow: 0 -1px 0 #333; background: #808080;}
	.customize-section-content { display: none; padding: 10px 20px 15px; overflow: hidden; margin: 0; background: #fdfdfd; }
		.customize-control { width: 100%; float: left; clear: both; margin-bottom: 8px; }
			.customize-control-title { display: block; line-height: 24px; font-weight: bold; font-size: 12px; color: #333; font-family: Arial, sans-serif; }

	.wp-picker-container, .wp-picker-container:active { display: inline-block; outline: 0; }
	#customize-theme-controls .wp-picker-container .hidden { display: none; }

	.wp-color-result { background-color: #f9f9f9; border: 1px solid #bbb; border-radius: 2px; cursor: pointer; display: inline-block; height: 22px; margin: 0 6px 6px 0px; position: relative; top: 1px; user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; vertical-align: bottom; display: inline-block; padding-left: 30px; }
	.wp-color-result.wp-picker-open { top: 0; }
	.wp-color-result.wp-picker-open:after { content: attr( data-current ); }

	.wp-color-result:after { background: #f3f3f3; background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4)); background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4); background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4); background-image: -o-linear-gradient(top, #fefefe, #f4f4f4); background-image: linear-gradient(to bottom, #fefefe, #f4f4f4); color: #333; text-shadow: 0 1px 0 #fff; border-radius: 0 1px 1px 0; border-left: 1px solid #bbb; content: attr( title ); display: block; font-size: 11px; line-height: 22px; padding: 0 6px; position: relative; right: 0; text-align: center; top: 0; }
	.wp-picker-open + .wp-picker-input-wrap { display: inline-block; vertical-align: top; }

	.customize-control-color .color-picker-hex { display: none; }
	.customize-control-color.open .color-picker-hex { display: block; }
	.customize-control-color .dropdown { margin-right: 5px; margin-bottom: 5px; }

	.customize-control-color .dropdown .dropdown-content { background-color: #fff; border: 1px solid rgba( 0, 0, 0, 0.15 ); }
	.customize-control-color .dropdown:hover .dropdown-content { border-color: rgba( 0, 0, 0, 0.25 ); }
	.customize-section input[type="text"].color-picker-hex { width: 65px; font-family: monospace; text-align: center; line-height: 16px; color: #333; }
	.customize-section input[type="text"].color-picker-hex:focus::-webkit-input-placeholder { color: transparent; }
	.customize-section input[type="text"].color-picker-hex:-moz-placeholder { color: #999; }

.customize-control select { min-width: 50%; max-width: 100%; height: 28px; line-height: 28px; -webkit-border-radius: 3px; border-radius: 3px; border-width: 1px; border-style: solid; }

.customize-section.open:hover { border-bottom-color: #dfdfdf; }

.customize-control input[type="text"] { width: 98%; line-height: 18px; margin: 0; -webkit-border-radius: 3px; border-radius: 3px; border-width: 1px; border-style: solid; border-color: #dfdfdf; background-color: #fff; color: #333; outline: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 3px; font-size: 12px; }

.customize-control input[type="text"]:focus { border-color: #aaa; }
#customize-theme-controls .button.button-small, #customize-theme-controls .button-group.button-small .button { height: 21px; line-height: 20px; padding: 0 8px 1px; }
#customize-theme-controls .wp-picker-container .button { margin-left: 6px; }
#customize-theme-controls .button, #customize-theme-controls .button-secondary { background: #f3f3f3; background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4)); background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4); background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4); background-image: -o-linear-gradient(top, #fefefe, #f4f4f4); background-image: linear-gradient(to bottom, #fefefe, #f4f4f4); border-color: #bbb; color: #333; text-shadow: 0 1px 0 #fff; }
#customize-theme-controls .button, #customize-theme-controls .button-primary, #customize-theme-controls .button-secondary { text-decoration: none; font-size: 12px; line-height: 23px; height: 24px; margin: 0; padding: 0 10px 1px; cursor: pointer; border-width: 1px; border-style: solid; -webkit-border-radius: 3px; -webkit-appearance: none; border-radius: 3px; white-space: nowrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#et-customizer-toggle-button { position: fixed; top: 50%; left: 0px; display: block; width: 44px; height: 54px; cursor: pointer; border: 1px solid rgba( 0, 0, 0, 0.2 ); margin-top: -27px; background: #f5f5f5 url(../../images/social.png) no-repeat 8px 10px; border-left: none; -moz-box-shadow: inset -1px 1px 0 #fff, 0 0 3px rgba(0,0,0,0.2); -webkit-box-shadow: inset -1px 1px 0 #fff, 0 0 3px rgba(0,0,0,0.2); box-shadow: inset -1px 1px 0 #fff, 0 0 3px rgba(0,0,0,0.2); -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; z-index: 500010; }
	#et-customizer-toggle-button:before { content: ''; position: absolute; top: 0; left: -3px; width: 3px; height: 100%; background: #f5f5f5; }

#customize-theme-controls, #et-customizer-toggle-button {-webkit-transition-property: left, right, top, bottom, width, margin; -moz-transition-property: left, right, top, bottom, width, margin; -ms-transition-property: left, right, top, bottom, width, margin; -o-transition-property: left, right, top, bottom, width, margin; transition-property: left, right, top, bottom, width, margin; -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -ms-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }

.et-customizer-open #customize-theme-controls { left: 0; }
.et-customizer-open #et-customizer-toggle-button { left: 300px; }

#et-customizer-title { padding: 18px 26px 18px 19px; background: url(../images/customizer_icon.png) no-repeat 18px 19px; position: relative; }
	#et-customizer-title h3 { padding: 8px 0 0 45px; font-family: Arial, sans-serif; font-size: 20px; text-shadow: 1px 1px 0 #fff; }
	#et-customizer-reset-all { background: url(../images/et_customizer_reset.png) no-repeat; display: block; position: absolute; top: 29px; right: 22px; width: 13px; height: 16px; cursor: pointer; }