<!DOCTYPE html>
<html lang="en">
<head>
<style>
  .vl {
	/* margin-right: -100px; */
    border-right: 1px solid #868e96;
    height: 380px;
    margin-top: -268px;
     
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title id='t'>MyKronus</title>
<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">



<meta name="keywords" content="collaboration project management,task project management,online team collaboration,secure collaboration,cloud task management,project collaboration,cross platform mobile,online document repository,enterprise mobile application,enterprise mobile app,cloud collaboration,collaboration in the cloud,secure cloud collaboration,cloud documents,free collaboration online"/>
<meta name="description" content="collaborate anytime, anywhere"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="twitter:widgets:theme" content="dark">
	<meta name="twitter:widgets:link-color" content="#07d8f9">
	<meta name="twitter:widgets:border-color" content="#ffffff">




<!-- <script type='text/javascript' src="script/jquery-1.8.3.js"></script>	-->
<!--  jQuery Placeholder plugin -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="script/jquery.placeholder.js" type="text/javascript"></script>
<script type='text/javascript' src="script/comment-reply.js"></script>
<script type='text/javascript' src="script/fb_login.js"></script>
<!--<script type='text/javascript' src="script/bootstrap.min.js"></script>-->


<!-- The below js file code need to uncomment if we deploy in www.colabus.com-->
<script type="text/javascript" src="script/websiteAnalytic.js"></script>

<!-- Below js files to convert text to different languages depending on browser language -->
 <!--<script src="${path}/scripts/lib/CLDRPluralRuleParser/CLDRPluralRuleParser.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.language.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.parser.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
 <script src="${path}/scripts/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>

 <script src="${path}/scripts/lib/Global.js"></script>-->



 <!-- Core Stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/colabusApp.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<!-- Google Openid registration -->
<!-- Load the Google Platform Library -->

<script src="https://apis.google.com/js/api.js"></script>
	<script type='text/javascript' src='script/colabusApp.js'></script>
</head>

<style>
	.terms-hover:hover {
    text-decoration: underline;
    color:  #80bfff;
	}
	@media only screen and (max-width: 40em) {
	 /* Small screen, non-retina */
	  #notifUI{
	   margin-top: -15% !important; width: 98% !important; margin-left: -10.5em !important;top:30%;
	  }
	  #notifUI.packagePop{
	    height:75%;
	    top:20% !important;
	  }
	}
	
	@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	  #notifUI{
	   margin-top: -17% !important; width: 55% !important; margin-left: -25% !important;top:30%;
	  }
	  #notifUI.packagePop{
	     height:85%;
	  }
	}
	
	@media screen and (max-width: 1149px) and (min-width: 950px){
	#noacc{margin-top:1px !important;}
	}
	@media screen and (max-width: 950px) and (min-width: 700px){
	#noacc{margin-top:1px !important;}
	#forgotPassword{margin-top:1px !important;}
	}
	
</style>
<body onKeyPress="enterKeyValid(event);"  class="" onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">



<script type="text/javascript">
	window.history.forward();
	function noBack() { 
		window.history.forward(); 
	}

	 function enterKeyValid(event){
  		if(event.keyCode == '13' ){
			if($('#email').is(":visible") && !$('#companyList').is(":visible")){
			test();
			}else{
	  		loginSubmit();
	  		}
		}
	}

</script>





		<div class="co" style="margin-top: 200px;
    margin-left: 10%;">

  <div id="imgDiv" style=" float:left;/*  height:100px; */ margin:10px;width:50%">
<img id="img" src="images/logo.png" style=" /* height:132px; width: 78%; */">
  <p class="vl"></p> 
</div>
<div id="frmDiv" style=" float:left;width:35% /*  margin-left:100px */">
<form id="loginPage" style="padding-top:0%;" class="loginColDiv" name="loginPage" method="POST">
			<div class="row colLoginForm" style="padding-bottom: 30px;">
				<div class="col-lg-12 colLoginFormHead" align="center">
					
					<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginTitle">
						<span data-i18n="colabus-login"></span>
					</div> -->
				</div>
				
				<div id="errorMsg" class="promptMsg" align="center" style="margin-top: -40%;"></div>
				
				<div id="logdiv" class="col-12" >
				
					<div class = "form-group">
					  <input  class = "form-control" type="text" name="userName" id="userName" value="" placeholder="User Name" style=" background-color: #130B18; border-radius: 10px;    height: 47px;color: white;width:98%;" />
				   	</div>
				   	<div class="form-group formPassword">
				   	  <input  class = "form-control" type="password" name="userPwd" id="userPwd" value="" placeholder="Password" style="  background-color: #130B18; border-radius: 10px;    height: 47px;color: white;width:98%;" onfocus=""/>
				   	</div>
				   	<div class="form-group email formEmail">
				   	  <input  class = "form-control" type="email" name="email" id="email"  value="" placeholder="Email" onkeyup = "emailValidation(this)" />
				   	</div>
				    <div class="form-group companyName formCompanyName">
				   	  <input  class = "form-control" type="email" name="email" id="companyName" value="" placeholder="Company name" onkeyup = "companyNameValidation()" />
				   	</div>
				   	<div  class="companyListContainer">
		       			 <ul class="companyListDetails"></ul>
		      		</div>
				   <div class="form-group companyList">
						<span class='errorRegLabels'>Choose Account</span>
						<select id="companyList" class="country form-control form-user" name="slist" onchange="setOrgName(this);"></select>
						<input id="hiddenCompanyName" name="hiddenCompanyName" value="" type="hidden">
					</div>
				</div>
				<div id="logbut" class="col-12 loginGrpForm" style="margin-top: 15px;display: flex;">
					<p onclick="" id="forgotPassword" class="terms-hover" data-i18n="colabus-fp" style="width:72%;padding-left: 20px;color: #adadad;font-size: 13px;">Forgot password?</p>
					<a><button id="loginButton" onclick="loginSubmit();" type = "button" class = "btn btn-info" data-i18n="colabus-login"style="width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 32px;border-radius: 10px;font-size: 13px; font-family: italic;" title="LOGIN">LOGIN</button> </a>
					<input type="hidden" name="localOffsetTime" id="localOffsetTime" value=""/>
					<input type="hidden" name="loginAction" id="loginAction" value=""/>
				</div>
			</div>

			<div id="signupbut" class="col-12 loginGrpForm" style="margin-top:30px;display: flex;">

				<p class="info-SignUp" id="noacc" style="width: 74%;font-size:13px;padding-left: 7px;color: #adadad;" data-i18n="colabus-noaccount">Don't have an account ?</p>
				<a href ="" target="_self"><button disabled id="colabussignup" class="btn btn-info lang-signup" type="button" data-i18n="colabus-signup" style="width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 32px;border-radius: 10px;font-size: 13px; font-family: italic;;text-transform: uppercase;margin-right: -23px;" title="Sign Up">Sign Up</button></a>
			</div>
		</form>
		
	</div>
 </div> 
 
<!-- Forgot password code begin -->
<div id="forgotPwdScreen" style=" float:left;width:35%;display:none;margin-top: -1%;">
	<form id="loginPage" class="loginColDiv" name="loginPage" method="POST">
		<div class="row">
			<!--  <div id="errorMsg" class="promptMsg" align="center"></div> -->
			<div class="col-12 formForgetFields">
				<div id="forgotUnameDiv" class = "form-group">
					<input  class = "form-control" type="text" name="forgotUname" id="forgotUname" value="" style=" background-color: #130B18; border-radius: 10px; height: 47px;color: white;" placeholder="User Name"/>
					<input  class = "form-control" type="text" name="forgotEmail" id="forgotEmail" value="" style=" margin-top: 15px; background-color: #130B18; border-radius: 10px; height: 47px;color: white;" placeholder="Email Id"/>
				</div>
				
				<div class="form-group companyList">
						<span class="errorRegLabels">Choose Account</span>
						<select id="companyListForget" class="country form-control form-user" name="slist" onchange="setOrgNameForget(this);"></select>
						<input id="hiddenCompanyName" name="hiddenCompanyName"value="" type="hidden">
				</div>
			</div>	
			
				<div id="okayBtnDiv" class="col-lg-12">
					<button id="forgetBack" onclick="goToLogin();" type = "button" style="margin-left: 25%;width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 100%;border-radius: 10px;font-size: 15px;font-family: italic;" class = "btn btn-info btn-back" data-i18n="colabus-back">Back</button>
					<button id="forgetSend" onclick="okayBtnClicked();" type = "button" style="width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 100%;border-radius: 10px;font-size: 15px;font-family: italic;" class = "btn btn-info" data-i18n="colabus-send">Send</button>
				</div>
				
				<div class="passwordResetLink" id="pinMsgDiv" style="margin-top: 5%;margin-left: 5%;color: #ffffff;" data-i18n="colabus-PassReset-checkmail"></div>
				<div id="pinNumberTr" style="display:none;margin-left: 5%;" >
					<input type="hidden" name="emailIdPin" id="emailIdPin"  value=""/>
					<input type="text" class="form-control" placeholder="Security Code" name="pinNumber" id="pinNumber" value="" />
				</div>
				<button onclick="okPinBtnClicked();" type = "button" id="okBtnTr" style="margin-left: 10%;margin-top: 0px;width: 86px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 100%;border-radius: 10px;font-size: 15px;font-family: italic;" class = "btn btn-info pinBtn" data-i18n="colabus-submit">Submit</button> 
				
		</div>
	</form>
</div>
<!-- Forgot password code End -->

<!-- Reset password code begin -->
<div id="resetPwdDiv" style="float: left;width: 35%;margin-top: -4%;display:none">
	<div class="container-fluid" style="padding: 10%;">
	<form method="POST" class="forgetGrpForm">
			<div class="row forgetGrpForm_Sub1">
				<div class="col-lg-12 forgetGrpForm_Sub2">
					<div class="col-l2 forgetPass_Head">
						<span data-i18n="colabus-ResetPass" style="color: #ffffff;"></span>
					</div>
				</div>
				<div class="col-12 formForgetFields">
					<div id="newpwd_div" class = "form-group">
					  <input  class = "form-control" type="password" name="new_password" id="new_password" value="" placeholder=""/>
				   	</div>
				   	
				   	<div id="conpwd_div" class = "form-group">
					  <input  class = "form-control" type="password" name="con_password" id="confirm_password" value="" placeholder=""/>
				   	</div>
				   	<button onclick="resetPasswordClicked();" type = "button" class = "btn btn-info reset_btn" style="width: 25%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #47beee;color: #000000;height: 25%;border-radius: 10px;font-size: 15px;font-family: italic;" data-i18n="colabus-reset"></button>
				 </div>  	
			</div>
	 </form>
	</div>
</div>
<!-- Reset password code End -->

<input type = "hidden" id = "userIdHidden" value = "" /> 



<script src="https://apis.google.com/js/platform.js" async defer></script> 
<script type="text/javascript">

var imgurl = "";
var img = "";
var sessionid  = "";
var hostname = getDomain();
var apiPath = '<%=process.env.apiPath%>';
$(document).ready(function($) {
  
	var lighttpdpath1 = '<%-JSON.stringify(lighttpdpath1)%>';
  	//alert("lighttpdpath from server.js file --> "+lighttpdpath1);
  	var lighttpdpath= '<%=process.env.lighttpdpath%>';
  	//alert("lighttpdpath from env file --> "+lighttpdpath);
	
	sessionid = '<%-JSON.stringify(sessionid)%>';
	
	sessionStorage.setItem('sessionid', '<%-JSON.stringify(sessionid)%>');
	
});



	function loginSubmit(){
		
		$.urlParam = function(name){
			var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
			return results[1] || 0;
		}
		var url = window.location.href;
		
		
		
		
		
		var result;
	    var localOffsetTime=19800;
	    $('#localOffsetTime').val(localOffsetTime);
		if( $("#userName").val() != null && $("#userName").val() != '' ){
		    $("#userName").css("border","1px solid #B2B2B2");
		   
			if( $("#userPwd").val() != null && $("#userPwd").val() != '' ){
			    $("#userPwd").css("border","1px solid #B2B2B2");
				var userName = $("#userName").val();
				//console.log("userName---" +userName)
				var userPwd = $("#userPwd").val();
				var email = $("#email").val();
				var loginAction = $('#loginAction').val();				
				var companyName = $("#companyName").val();	
				
				if(companyName != '' && loginAction !='saml'){
					
					$(".companyListContainer").hide();
					result = checkAD(companyName);
					if(result != 'failure'){
						
						var data=  JSON.parse(result);
						var dirCheckValue = data[0].dir_check_value;
						if(data.length == 1 && dirCheckValue =='Y'){ 
						var dirDomainName = data[0].dir_domain_name;
								var dirGroupName = data[0].dir_group_name;
									var groupName = adAuthUser(userName,userPwd,dirDomainName);
							    	if(groupName =='AException' || groupName =='CException'  ){
									    		if(groupName =='AException'){
									    		   $("div#errorMsg").html($.i18n("colabus-InvalUserPass"));
									    		   $("#companyName").hide();
									    		   $("#companyName").val('');
									    		   $('#loadingBar').hide();
												   timerControl("");
									    		 
									    		}else{
									    		   $("div#errorMsg").html('AD connection error');
									    		   $("#companyName").hide();
									    			
									    		}
									    	}else { 
							    				if(dirGroupName == groupName){
							    					alert("you are not colabus user, need to create user");
							    					//alert("companyName--"+companyName);
													AdUserRegistration("ad",userfName,userLName,userEmail,userPwd,companyName);
							    				}
										}
									
						  }else{
						  		$("div#errorMsg").html('Company Is not Integrated');
							    $("#companyName").hide();
							    $("#companyName").val('');
							    $('#loadingBar').hide();
								timerControl("");
						  }
				  }else{
				  			$("div#errorMsg").html('Company Does not exist');
							$("#companyName").hide();
							$("#companyName").val('');
							$("#companyName").val('');
							$('#loadingBar').hide();
							timerControl("");
				  }
				}else{
					var cookieUname = $("#userName").val().replace(/\@/g,"");
					//console.log("cookieUname---" +cookieUname);
					if ($('#loginkeeping').attr('checked')) {
						// setCookie(""+cookieUname+"", userName,14);
				 		// setCookie(""+cookieUname+"p", userPwd,14);
				   		 //setCookie(""+cookieUname+"r", true,14);
				 	} else {
						//setCookie(""+cookieUname+"",null,1);
				 		//setCookie(""+cookieUname+"p",null,1);
				   		//setCookie(""+cookieUname+"r",null,1);
					} 
					$('#loadingBar').show();
					//timerControl("start");
					//setScreenProperties();
					if(url.indexOf("forward")>-1){
						var type = $.urlParam('forward'); 
						var ptype = type.split(";")[0]
						var projId =  type.split(";projId=")[1];
						var newprojId;
						if(projId.indexOf("%20")>-1){
							newprojId = projId.replace("%20"," ");
						}else{
							newprojId = projId;
						}
						console.log("projId--"+newprojId);
						document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId="+ptype+"&projId="+newprojId+"";
					}else{
						//var postlog = "https://mykronusdev.colabus.com/AppAuth?act=loginVal&loginName="+userName+"&password="+userPwd+"&deviceType=android&openId=normal&email=&hiddenCompanyName=&comapanyName=&timezone=19800";
						let postlog = apiPath+"/mykronus/v1/login";
						let postlogjson = {
							"loginName":userName,
							"password":userPwd,
							"loginDevice":"web"
						}  
						$.ajax({
							url: postlog,
							type:"POST",
							contentType:"application/json; charset=utf-8",
							data: JSON.stringify(postlogjson),
							/* dataType: 'json',
							crossDomain: true,
							
							contentType: 'application/json',
							headers: {"Access-Control-Allow-Origin": "*"}, */
							error: function(jqXHR, textStatus, errorThrown) {
								checkError(jqXHR,textStatus,errorThrown);
								console.log(jqXHR.status);
								
								if(jqXHR.status == "401"){

									var usererrorinfo = JSON.parse(jqXHR.responseText);
									console.log("usererrorinfo-->"+usererrorinfo);
									var errorCode = usererrorinfo.errorCode;
									console.log("errorCode-->"+errorCode);
									if(errorCode == "usernameInvalid"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("Invalid Username. In case of mobile number as username, add country code without '+' sign (e.g : 14086000131)").css({ "margin-top": "-20%", "font-size": "15px" });
									}else if(errorCode == "userDisabled"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("User is disabled").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "passwordInvalid"){
										$("input#userPwd").css("border","1px solid red");
										$('#errorMsg').html("Invalid Password").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "askEmail"){
										$("input#userPwd").css("border","1px solid red");
										$('#errorMsg').html(errmessage).css({ "margin-top": "-7%", "font-size": "15px" });
									}

								}

								
								
							},
							success:function(result){
								
								var jsondata = JSON.stringify(result);
								var userlogininfo = JSON.parse(jsondata);
								//alert("userlogininfo-->"+userlogininfo);
								var a = userlogininfo.userId;
								//alert("a-->"+a);
								
								window.sessionStorage.user = JSON.stringify(result);;
								//alert("window.sessionStorage.user-->"+window.sessionStorage.user);
								window.location.href = hostname+"/postlogin";
								
							}
						});


					}
				    
					
			 }
			}else{
				$('#loadingBar').hide();
				//timerControl("");
				$("input#userPwd").css("border","1px solid red");
				$('#errorMsg').html("Password cannot be empty").css({ "margin-top": "-7%", "font-size": "15px" });
			}
		}else {
			$('#loadingBar').hide();
			
			$("input#userName").css("border","1px solid red");
			$('#errorMsg').html("Login name cannot be empty").css({ "margin-top": "-7%", "font-size": "15px" });
		}
		
	}

	function changeScreens(){
		
		$("div#frmDiv").hide();
	//$("div#priceDiv").hide();
		randomgen();
		$("div#forgotPwdScreen").show();
		$("input#forgotUname").val($("input#userName").val());
		$(".companyList").css({'display':'none'});
		$('#forgetBack').attr('onclick','goToLogin()');
    }

	function goToLogin(){
		$("div#forgotPwdScreen").hide();
		$("div#frmDiv").show();
		$("input#userName").val($("input#forgotUname").val());
	//$("div#priceDiv").show();
		$("input#userPwd").val("");
    }

	function randomgen(){
		var rannumber='';
		var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
		for (var i=0; i< 6; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				rannumber += chars.substring(rnum,rnum+1);
		}
		$('#verifyNum').html(rannumber);
		$('#verifyNumHidden').val(rannumber);
	} 
	
	function okayBtnClicked() {
		$('#loadingBar').show();
	    timerControl("start");
	    var userLogInName = $("input#forgotUname").val();
	    var userEmail = $("input#forgotEmail").val();
	    var userCompany = $('#companyListForget').children("option:selected").val();
	    $("input#userIdHidden").val($("input#forgotUname").val());
	    if ($('input#forgotUname').val() == '') {
	      //alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
	    	alert("Please enter your Login Name");
	        return false;
	    }
	    if ($('input#forgotEmail').val() == '') {
	      //alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
	    	alert("Please enter Email Id");
	        return false;
	    }
	    /*
	    if(capcha_visible==""){
	      alert("Please enter the captcha value");
	      $('#for_capt').focus();
	      return false;
	    }
	    else if ( capcha_visible != capcha_hidden) {
	    	  //alertFun("<bean:message key='Please_enter_the_captcha_value'/>",'success');
	    	alert("Please enter the correct captcha value");
	    	$('#for_capt').val("");
	    	$('#for_capt').focus();
	    	randomgen();
	        return false;
	    }
	    */
			
		$.ajax({
			url: "${path}/colAuth?pAct=forgotpassword&emailId="+userLogInName+"&userEmail="+userEmail+"&userCompany="+userCompany,
	        type: "POST",
	        error: function(jqXHR, textStatus, errorThrown) {
	        	checkError(jqXHR,textStatus,errorThrown);
	         	$("#loadingBar").hide();
				timerControl("");
				},
	        success: function(data) {
	        	//checkSessionTimeOut(data);
	    	        if (data == 'Accepted') {
	        	   	$("div#okayBtnDiv").hide();
	           		$("div#forgotUnameDiv").hide();
	           		$("div#for_captDiv").hide();
	           		$('.companyList').css({'display':'none'});
	           		$("div#pinMsgDiv").show();
		        }
	          	else if (data == 'Rejected') {
			        //alertFun("<bean:message key='Please_enter_correct_details'/>",'success');
			        //alert("Please enter correct details");
			        alert("Please enter valid User Id");
			        //randomgen();
			    }else if (data == 1){
			        alert("Please enter Valid Email Id");
			    }else if (data == 'adRejected'){
			        alert("You cannot reset the password because this company is integrated to Active Directory");
			    }else{
			       	$('.companyList').css({'display':'block'});
			      	data1=  JSON.parse(data);
			       	var companyData = data1.Company;
		   			$('#companyListForget').html('<option value="0">Select Company Name</option>');
			      	for(i=0; i< companyData.length;i++){ 
				    $('#companyListForget').append('<option value="'+companyData[i].companyId+'">'+companyData[i].company+'</option>');
					companyList = companyList+','+companyData[i].company
				}
			            	
			}
		}
		});
	}
		
	function resetPasswordClicked(){
	   var nPwd=$('#new_password').val().trim();
	   var cPwd=$('#confirm_password').val().trim();
	   var userId = $("input#userIdHidden").val();
	   var userLoginName = getUrlParameter('userLoginName');
	   var companyId = getUrlParameter('companyId');
	   //alert("userId--"+userId);
	  // alert("userLoginName--"+userLoginName);
	   //alert("companyId--"+companyId);
	   if(nPwd == ''){
		   alert("Please enter the New Password");
		   $('#new_password').val("");
		   $('#new_password').focus();
		   return false;
	   }
	   if(cPwd == ''){
		   alert("Please enter the Confirm Password");
		   $('#confirm_password').val("");
		   $('#confirm_password').focus();
		   return false;
	   }
	   if(nPwd == '' && cPwd != ''){
		   alert("Please enter the New Password");
		   $('#new_password').val("");
		   $('#new_password').focus();
		   return false;
	   }
	   if(nPwd!=cPwd){
	     alert("New Password and Confirm Password are not same");
	     $('#confirm_password').val("");
	     $('#confirm_password').focus();
	     return false;
	   }
	   $('#loadingBar').show();
	   timerControl("start");
	    $.ajax({
		   // url: "${path}/colAuth?pAct=resetPassword&emailId="+userloginName+"&newPwd="+cPwd,
		   	url: "${path}/colAuth?pAct=resetPassword&emailId="+userId+"&newPwd="+cPwd,
			type: "POST",
			error: function(jqXHR, textStatus, errorThrown) {
		         	checkError(jqXHR,textStatus,errorThrown);
		         	$("#loadingBar").hide();
					timerControl("");
					},
		    success: function (data) {
		    	//checkSessionTimeOut(data);
		         $('#loadingBar').hide();
		         timerControl("");
		        	if(data == 'success'){
		        		   alert("Password reset successfully.");
		        		   $('#pinMsgDiv').hide();
			               $('#pinNumberTr').hide();
			               $('#okBtnTr').hide();
			               $('#sendTr').hide();
			               $("#resetPassTxt").hide();
						   $("#emailAdd").hide();
						   $("#captchaVal").hide();
						   $('#login').hide();
						   $('#forgotPasswordDiv').hide();
						   $('#pinNumber').val("");
						   $('#enterNewPasswordDiv').hide();
		   					//autoLogIn(userId,cPwd);
		   					autoLogIn(userLoginName,cPwd,companyId)
		        	}else{
		        	    // $('#loadingBar').hide();
		                // timerControl("");
		        		 alert("Failed to reset password.");
		        		 return false;
		        	}
		        }
		});
	}
	
  
</script>



<!-- Jquery-2.2.4 JS -->
    <!-- Popper js -->
    <script src="script/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- All Plugins JS -->
    <script src="script/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="script/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <!-- <script src="js/footer-reveal.min.js"></script> -->
    <!-- Active JS -->
    <script src="script/active.js"></script>

  
</body>
</html>