<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/mykronus/styles.css" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
 <script type="text/javascript" src="script/jquery.1.8.3.min.js"></script> 
<!-- <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>  -->
<script type="text/javascript" src="script/bootstrap.js"></script>
<script type="text/javascript" src="script/jquery-scrolltofixed.js"></script>
<script src="script/si.files.js"></script>
   <!-- --------------------custom css & js----------------------------- -->
<link rel="stylesheet" href="css/colabusApp.css">
<script type='text/javascript' src='script/colabusApp.js'></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" href="css/hopscotch.css" />
<link rel="stylesheet" type="text/css" href="css/mykronus/styles.css" />

<!------------------------------// custom scrollBar //-------------------------->
<!---------------------------------------------// custom scrollBar //-------------------------->
<script type='text/javascript' src='script/jquery.mCustomScrollbar.min.js'></script>
<script type='text/javascript' src='script/jquery.mousewheel.min.js'></script>
<script type="text/javascript" src="script/TweenLite.min.js"></script>
<script type="text/javascript" src="script/CSSPlugin.min.js"></script>
<script src="script/email_validate.js"></script>
<link rel="stylesheet" type="text/css" href="style/jquery.mCustomScrollbar.css" />

<!-- For Image Cropping and edting profile pic plugin -->
<script type="text/javascript" src="script/cropper.js"></script>
<link rel="stylesheet" type="text/css" href="css/cropper.css" />

<!-- Voice common file -->
<script type="text/javascript" src="script/voiceValidation.js"></script>

<!-- Plugin used for changing user name with name badge if the user image is not uploaded -->
<script type="text/javascript" src="script/initial.min.js"></script>

<!--Time Picker -->
<script type="text/javascript" src="script/jquery.timepicker.js"></script>
<link rel="stylesheet" href="css/jquery.timepicker.css" type="text/css" media="screen"/>

<!-- QR code Plugin -->
<script type="text/javascript" src="script/qrcode.js"></script>

<!-- Timezone and moment -->
<script type="text/javascript" src="script/timezones.full.js"></script>

<!-- Google Map API -->
<script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPvEJbu8FN_T6wFir2PHAfgXEueCyFyk&libraries=places"></script>

<!--  Color code plugin -->
<script src="script/spectrum.js"></script>
<link href="css/spectrum.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="script/globals.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>
.opac{opacity: 0.6;}
</style>

<script type="text/javascript">
	
	var lighttpdpath = "";
	var sessionmaxAge = "";
    var sessionexp = "";
	var cookiehistory = "";
	var sessionid = "";
	var userId = "";
	var userImgType = "";
	var companyId = "";
	var hostname = getDomain();
	var apiPath = '<%=process.env.apiPath%>';

    $(function(){
	
	if(window.sessionStorage.user){
		var userinfo = JSON.stringify(window.sessionStorage.user);
		var userlogininfo = JSON.parse(window.sessionStorage.user);
		
	}else{
		window.location.href= hostname+"/login";
		alert("Please Login");
	}

	lighttpdpath = '<%=process.env.lighttpdpath%>';
	sessionmaxAge = '<%-JSON.stringify(sessionmaxAge)%>';
    sessionexp = '<%-JSON.stringify(sessionexp)%>';
	sessionid = '<%-JSON.stringify(sessionid)%>';
	sessionStorage.setItem('sessionid', '<%-JSON.stringify(sessionid)%>');
	
	  //alert("sessionmaxAge-->"+sessionmaxAge+"<--sessionexp-->"+sessionexp);
      userId = userlogininfo.userId;
	  userImgType = userlogininfo.userImageType;
	  companyId = userlogininfo.companyId;
	  loginName = userlogininfo.loginName
      var userImgType='jpeg';
      d = new Date();
      $('img#profileImg').attr("src",lighttpdpath+"/userimages/"+userId+"."+userImgType+"?"+d.getTime());
      var a = $('img#profileImg').attr('src');
      
	  cookiehistory = history.length;
	  ///alert("cookiehistory-->"+cookiehistory);
    });
	
	window.history.forward();
	function noBack() { 
		window.history.forward(); 
	}
	

</script>
	
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

<div class="modal-content " id="helpContainerDivNew" style="position: absolute; z-index: 1100; background-color: rgb(255, 255, 255); margin-left:12%;height:92%; width:75%; margin-top:25px; display:none;">
  	<div class="modal-header" id="divDataNew" style="display: block;padding:10px;height:50px;"><h4 style="font-weight:bold;margin-left:16px">Help</h4>
  		<button class="close" title="close" data-dismiss="modal" style="float:right;margin-top:-32px;margin-right:9.5px;" onclick="closeDemo();">&times;</button>
  	</div>
  	<div class="modal-body" id="modalBodyDiv" style="margin-left:15px;padding:0px;">
  		<iframe id="demoFrameNew" name="demoFrameNew" style="overflow:scroll;border:5px solid rgb(255, 255, 255);height:100%;width:100%;display:inline;"></iframe>
  	</div>
</div>

<div id="header_outer" style="width:100%;" class="headerCls">
 <nav class="navbar navbar-inverse" style="width:100%;" >
  <div class="container-fluid" style="padding-right: 0">
     <div style="margin-left: 8px;margin-right: 15px;width: 9%;float: left;" id="comLogoDiv" class="comLogoDivCls">
        <a onclick="redirect();"><img onerror="imageOnCompanyErrorReplace(this);" class="menuClick homeLogo Home_cLabelTitle" id="home" src="images/MyKronuslogo.png"/ ></a>
      </div> 
      
    <div class="headerWidCls" id="myNavbar" style="padding-right:15px; float:right;">
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> 
      
      <ul class="nav navbar-nav navbar-right lowerResCls" style="margin-top: 7px;margin-bottom: 10px;float: left !important;width: 100%;">
             
        <li style='display:none;'>
          <div class="dropdown">
    		 <div class="dropdown-toggle" data-toggle="dropdown">
               
            </div>
          </div>
		</li>
        <li style="float: right;box-shadow: none;">
          <form id="logoutForm" name="logoutForm" method="post">
           <div class="dropdown">
    		 <div class="dropdown-toggle" data-toggle="dropdown">
    			<div class="uProfileDiv" ><img id="profileImg" src="images/userImage.png" style="border-radius: 50%;border: 2px solid #fff;" onerror="userImageOnErrorReplace(this);"/></div>
    		     <img src="images/menu.png" style="margin-top: 10px;margin-left: 6px;cursor:pointer;width: 25px;height: 25px;">
    		 </div>
    		 
             <ul class="dropdown-menu uProfileImageOptionUl" style="z-index: 1500;margin-top: 27px !important;color: #fff;background-color: rgb(0, 0, 0, 0.8) !important;border: 1px solid darkgray !important;">
                  <div id="userProfileArrowDiv" ><img src="images/topArrow.png" style=" float: right; margin-top: -15px; margin-right: 23px;width: 18px;"></div>
			      <li class="opac" style="margin-left:7px !important;" onclick="">
			         <!-- <img class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/userprofile.png" /> -->
			      	<div class="uProfileImageOption My_Profile_cLabelHtml" >My Profile</div>
			      </li>
			      
			      <li class="opac" style="margin-left:7px !important;" onclick="">
				     	  <div class="uProfileImageOption" >Time</div>
	                  </li>
			      
			       <li class="opac" style="margin-left:7px !important;" onclick="">
				     	  <div class="uProfileImageOption" >Tasks</div>
	                  </li> 
	                  
	                   <li class="opac" style="margin-left:7px !important;" onclick="">
				     	  <div class="uProfileImageOption" >Expenses</div>
	                  </li> 
			      
			      
				      <li class="opac" style="margin-left:7px !important;display:none;" onclick="">
				     	  <div class="uProfileImageOption" >Team</div>
	                  </li> 
                  
                  
                  <li class="opac" style="margin-left:7px !important;">
				     	  <div class="uProfileImageOption analyticsHover" onclick="">Analytics<span class="caret" style="margin-left: 4px;"></span></div>
				     	  <div  id="analyticsDiv" style="float: left;width: 100%;display:none;">
							    <ul style="list-style: none;padding-left: 23px;">
							         <li style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
							        		<div class="uProfileImageOption" onclick="">Time Card</div>

							         </li>
							        
							         <li style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
							        <div class="uProfileImageOption" onclick="">Team Productivity</div> 
							         	<!-- <div class="uProfileImageOption">Team Productivity</div> -->
							        </li>
							        
							        <li style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
							        		<div class="uProfileImageOption" onclick="">Expenses</div>

							         </li>
							         <li style="padding: 6px;float: left;width: 100%;">
							        		<div class="uProfileImageOption" onclick="">Attendance Report</div>

							         </li>
							    </ul>
						   </div>
	              </li>
	              
                  
	                  <li style="margin-left:7px !important;">
					     	  <div class="uProfileImageOption adminSettingsHover" onclick="event.stopPropagation();showAdminSettingsMenu();">Settings<span class="caret" style="margin-left: 4px;"></span></div>
					     	  <div id="adminSettingsDiv" style="float: left;width: 100%;display:none;">
								    <ul style="list-style: none;padding-left: 23px;">
								         <li class="opac" style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
							        		<div class="uProfileImageOption" onclick="">Organization</div>
							         	 </li>
								         <li class="opac" style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
								         	<div class="uProfileImageOption" onclick="">Users</div>
								         </li>
								         <li style="padding: 6px;float: left;width: 100%;border-bottom: 1px solid darkgray;">
								         	<div class="uProfileImageOption" onclick="listMyAccountCategory();">Expense Types</div>
								         </li>
								         <li style="padding: 6px;float: left;width: 100%;">
								         	<div class="uProfileImageOption" onclick="listGroups();">Task Groups</div>
								         </li>
								    </ul>
							   </div>
		              </li>
                  
                  
                  <li id="logOut" onclick="doLogOut('logout');"  style="border-bottom:0px solid #ccc;margin-left:7px !important;">
			         <!-- <img style="margin-left: 1px;" class="uProfileImageOptionIcon" src="${path}/images/userProfileIcons/logout.png" />-->
			         <div class="uProfileImageOption Log_Out_cLabelHtml">Log Out</div>
			      </li>
  			</ul>
           </div>
           </form>
        </li>
       </ul>
      </div>  
  </div>
</nav>
</div>

<%- include('landingpage.ejs'); %>

<script type="text/javascript">

function handleSignoutClick(event) {
    	 $("#logoutframe").show();
    	 if(typeof auth2 !=='undefined')
    	   auth2.signOut(); 	 
}

function redirect(){
	checksession();
	window.location.href = hostname+"/postlogin";
}

function showAdminSettingsMenu(){
		if($('#adminSettingsDiv').is(":hidden")){
			$('#adminSettingsDiv').slideDown();
		}else{
			$('#adminSettingsDiv').slideUp();
		}
}



</script>


</body>
</html>
