<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="twitter:widgets:theme" content="dark">
	<meta name="twitter:widgets:link-color" content="#07d8f9">
	<meta name="twitter:widgets:border-color" content="#ffffff">
	<link rel="shortcut icon" href="images/favicon.ico">
	<meta name="keywords" content="collaboration project management,task project management,online team collaboration,secure collaboration,cloud task management,project collaboration,cross platform mobile,online document repository,enterprise mobile application,enterprise mobile app,cloud collaboration,collaboration in the cloud,secure cloud collaboration,cloud documents,free collaboration online"/>
	<meta name="description" content="collaborate anytime, anywhere"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
  <title>MyKronus</title>
   <!-- Favicon -->
   <link REL="SHORTCUT ICON" id="favicon" HREF="images/mykronus/favicon.ico">
	<script type='text/javascript' src="script/homejs/jquery-1.8.3.js"></script>
    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">
	<link href="font-awesome.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="style/subCss/responsive.css" rel="stylesheet">
	<link href="style/subCss/slick.css" rel="stylesheet">
	
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<!-- Plugin for Map -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPvEJbu8FN_T6wFir2PHAfgXEueCyFyk&libraries=places">
  </script>
<script type="text/javascript" src="script/mykronus/script.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
	
	
	<link rel='stylesheet' id='wp-color-picker-css'  href="css/homecss/color-picker.min.css" type='text/css' media='all' />
	<link rel='stylesheet' id='et_google_fonts_style-css'  href="css/homecss/et_google_fonts.css" type='text/css' media='all' />
	<link rel='stylesheet' id='et_frontend_customizer_style-css'  href="css/homecss/et_frontend_customiser.css" type='text/css' media='all' />
	<link rel='stylesheet' id='foxy-fonts-open-sans-css'  href="css/homecss/font_open_sans.css" type='text/css' media='all' />
	<link rel='stylesheet' id='foxy-fonts-raleway-css'  href="css/homecss/family_realeway.css" type='text/css' media='all' />
	<link rel='stylesheet' id='foxy-style-css'  href="css/homecss/style.css" type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce_frontend_styles-css'  href="css/homecss/woocommerce.css" type='text/css' media='all' />
	<link rel='stylesheet' id='et-shortcodes-css-css'  href="css/homecss/shortcodes.css" type='text/css' media='all' />
	<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href="css/homecss/shortcode_responsive.css" type='text/css' media='all' />
	<link rel='stylesheet' id='wp-pagenavi-css'  href="css/homecss/pagenavi.css" type='text/css' media='all' />
	<link rel='stylesheet' id='fancybox-css'  href="css/homecss/fancybox.css" type='text/css' media='screen' />
	<link rel='stylesheet' id='et_page_templates-css'  href="css/homecss/page_templates.css" type='text/css' media='screen' />
	<link rel="stylesheet" href="css/homecss/formStyle.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="style/hopscotch.css" />
	<link rel="stylesheet" href="css/colabusApp.css">
	<script type='text/javascript' src="script/homejs/jquery-1.8.3.js"></script>
	
	<script src="script/hopscotch.js"></script>
	<script src="script/hoppy.js"></script> <!-- define and start your tour in this file -->
	
	<!--  jQuery Placeholder plugin -->
	<script type="text/javascript" src="script/jquery.1.8.3.min.js"></script>
	<script src="script/jquery.placeholder.js" type="text/javascript"></script>
	<script type='text/javascript' src="script/homejs/comment-reply.js"></script>
	<script src="script/email_validate.js"></script>
	<script type='text/javascript' src="script/fb_login.js"></script>
	<link rel="stylesheet" type="text/css" href="style/collaborationApp.css" />
	<script language='javascript' src='script/detect_timezone.js'></script>
	<script type='text/javascript' src='script/colabusApp.js'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
	<script type='text/javascript'>var TORBIT={start_time:new Date().getTime()};var TBRUM=TBRUM||{};TBRUM.q=TBRUM.q||[];TBRUM.q.push(['mark','firstbyte',(new Date).getTime()]);(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src=document.location.protocol+'//insight.torbit.com/v1/insight.min.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b)})();</script>
	
	
	
	
	
	
	<link href='http://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300italic,300,100italic,100,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,500,700,800,600,300,200' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="script/angular.min.js"></script>
	<script type="text/javascript" src="script/bootstrap.js"></script>
	<script type="text/javascript" src="script/jquery-scrolltofixed.js"></script>
	<script type="text/javascript" src="script/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="script/jquery.isotope.js"></script>
	<script type="text/javascript" src="script/wow.js"></script>
	<script type="text/javascript" src="script/classie.js"></script>
	<!-- Detect timezone plugin  -->
	<script language='javascript' src='script/detect_timezone.js'></script>
	<script type='text/javascript'>var TORBIT={start_time:new Date().getTime()};var TBRUM=TBRUM||{};TBRUM.q=TBRUM.q||[];TBRUM.q.push(['mark','firstbyte',(new Date).getTime()]);(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src=document.location.protocol+'//insight.torbit.com/v1/insight.min.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b)})();</script>
	
	<!-- The below js file code need to uncomment if we deploy in www.colabus.com-->
	<script type="text/javascript" src="script/websiteAnalytic.js"></script>
	
	<!-- Below js files to convert text to different languages depending on browser language -->
	<script src="script/lib/CLDRPluralRuleParser/CLDRPluralRuleParser.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.language.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.parser.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
 	<script src="script/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>

 	<script src="script/lib/Global.js"></script>
    
<style >
@media screen and (max-width: 760px){
	#mkreg{margin-top:5%;}
	#img{margin-left:10% !important;}
	#line{margin-top:0px !important;display:none !important;}
	#userImage{width:20% !important;margin-left:40% !important;}
	.vl{display:none;}
	#userImg{align:center;}
	#mykImg{margin-left:25%;}
	#acc_w{margin-left:20%;}
	#userAccType{margin-left:20%;}
	#ph{margin-left:19%;}
	#userFirstName{margin-left:20%;}
	#userLastName{margin-left:20%;}
	#Email{margin-left:20%;}
	#org_name{margin-left:20%;}
	#add{margin-left:20%;}
	#companyList{margin-left:20%;}
	#reg{margin-left:25%;}
	#ph1{width:84% !important;margin-left:2px;}
	#ph2{width:30% !important;}
	#ph3{width:67% !important;}
	#down{margin-left:-17% !important;}
	.labelall{margin-left:27% !important;}
}

@media screen and (max-width: 940px) and (min-width: 760px){
	
	#mkreg{margin-top:12% !important;}
}
@media screen and (max-width: 1250px) and (min-width: 1150px){
	#c_codeDiv{margin-top:17% !important;}
}
@media screen and (max-width: 1149px) and (min-width: 1050px){
	#c_codeDiv{margin-top:19% !important;}
	.labelall{margin-left:7% !important;}
}
@media screen and (max-width: 1049px) and (min-width: 950px){
	#c_codeDiv{margin-top:20% !important;}
	#mkreg{margin-top:7% !important;}
	.labelall{margin-left:8% !important;}
	#ph2{width:31% !important;}
	#ph3{width:67% !important;}
}
@media screen and (max-width: 949px) and (min-width: 850px){
	#ph2{width:33% !important;}
	#ph3{width:65% !important;}
	#c_codeDiv{margin-top:24% !important;}
	.labelall{margin-left:9% !important;}
}
@media screen and (max-width: 849px) and (min-width: 760px){
	#ph2{width:40% !important;}
	#ph3{width:58% !important;}
	#c_codeDiv{margin-top:27% !important;}
	.labelall{margin-left:10% !important;}
	
}
@media screen and (max-width: 760px) and (min-width: 600px){
	#c_codeDiv{margin-top:12% !important;}
	#ccod{margin-left:22% !important;}
	.lab{margin-left:5% !important;}
}
@media screen and (max-width: 599px) and (min-width: 500px){
	#c_codeDiv{margin-top:16% !important;}
	#ccod{margin-left:16% !important;}
	.lab{margin-left:5% !important;}
}
@media screen and (max-width: 499px) and (min-width: 400px){
	#c_codeDiv{margin-top:2% !important;width:212px !important;}
	#ph1{margin-left:0px  !important;}
	.lab{margin-left:4.5% !important;}
}
@media screen and (max-width: 399px) and (min-width: 300px){
	 #c_codeDiv{margin-top:2% !important;width:177px !important;}
	 #ph1{margin-left:0px  !important;}
	 .lab{margin-left:4.5% !important;}
}


</style>
<style type="text/css">
.defaultScrollDiv::-webkit-scrollbar {
    width: 4px;
    background-color: #060202;
  
}
	
	</style>
</head>

<style type="text/css">



.vl {
		/* margin-right: -100px; */
	    border-right: 1px solid #868e96;
	    height: 380px;
	    margin-top: -297px;
	     
	}
	.or-middle::after, .or-middle::before {
	    border-left: 1px solid #d6d6d5;
	    width: 1px;
	    height: 70px;
	    left: 50%;
	    position: absolute;
   	}
   	.horizontal {
	    color: #999;
	    display: inline-block;
	    font-size: 16px;
	    padding: 77px 0;
	    z-index: 1;
	}
	.line-wrapper{
		display: inline-block;
	    vertical-align: middle;
	    width: 100%;
	}
	.line{
		background: #cccfd3 none repeat scroll 0 0;
	    display: inline-block;
	    height: 1px;
	    vertical-align: middle;
	    width: 100%;
	}
	.content span{
		left: 0;
	    position: absolute;
	    width: 100%;
	}
	.transparentDiv{
	   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	   filter:alpha(opacity=50); 
	   -moz-opacity: 0.4; 
	   opacity: 0.4;
	   -khtml-opacity: 0.4;
	   z-index:1000;
	   position:fixed;
	   display:none;
	   background-color:#000000;
	   margin:0px;
	   padding:0px;
	   left:0px;
	   top:0px;
	   right:0;
	   bottom:0;
	   display:none;	
	}
	.popAdminUserListContainer{
	    background-color: rgb(255, 255, 255);
	    border: 1px solid rgb(161, 161, 161);
	    border-radius: 5px;
	    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6);
	    height: 275px;
	    margin-left: 150px;
	    position: absolute;
	    width: 240px;
	    z-index: 5010;
	}
	.form-group{
	 	margin-bottom: 13px !important;
	}
	.Add{
	border: 0 none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
	font-family: OpenSansRegular;
	font-size: 11px;
	margin-left: 10%;
	width: 81%;
	height: 4%;
	resize: none;
	color: #73777a;
	border-bottom: 1px solid white !important;
	background: black
	}
	.round {
  position: relative;
}

.round label {
  background-color: black;
  border: 1px solid green;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid green;
  border-top: none;
  border-right: none;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 11px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
 /*  background-color: #66bb6a; */
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
input#pac-input::placeholder {
text-align: left;
}

</style>

<script>
var latitude;
var longitude;
var position=[];

var numDeltas = 100;
var delay = 5; //milliseconds
var i = 0;
var deltaLat;
var deltaLng;
var pso1=[];

//for country_code

$(document).ready(function(){
	$.ajax({
	    url: "https://ipapi.co/json",
		type:"GET",
		error: function(jqXHR, textStatus, errorThrown) {
	         	checkError(jqXHR,textStatus,errorThrown);
				},
		success:function(result){
			
			$("#cc"). val(result.country_calling_code);
			
		}
	});
});


$(document).ready(function(){
	
		  if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(showPosition);
		  } else {
		    alert( "Geolocation is not supported by this browser.");
		  }
		

		
});





function showPosition(position) {
	latitude= position.coords.latitude ;
	longitude= position.coords.longitude;
	console.log("latitide:"+latitude);
	console.log("longitude:"+longitude);
	}
function yesscrollBar(){
	   $('html,body').css({overflow:'auto', height:'auto'});
	}
	function noscrollBar(){
	  $('html,body').css({overflow:'hidden', height:'100%'});
	}

	
 $(document).ready(function(){
      
 /*    $('input[placeholder], textarea[placeholder], select[placeholder]').placeholder();
	$( '#et-customizer-toggle-button' ).click( function() {
			$( 'body' ).toggleClass( 'et-customizer-open' );
	} ); */ 


  $("#ente").mouseover(function(){
  		$('$ente').css("border-top", "2px solid orange");
  });
  $("#ente").click(function(){
        $('#ente').css('background-color','#ffffff');
        $('#stan').css('background-color','#ececec');
		$('#standard').hide();
		$('#promoCodeDiv').hide();
		$('#enterprises').show();
		$('#ente').css('font-weight','bold');
		$('#stan').css('font-weight','normal');
		$('#stan').removeClass('borderclass');
		$('#ente').addClass('borderclass');
		$('#ente').addClass('orangebar');
		$('#stan').removeClass('greenbar');
		$('#stan').addClass('lightbar');
		$('#ente').removeClass('lightbar');
		$("#accTypeHidden").val("enterprise");
		clearFields();
		if($(".fname").val("")){
			 $('input[placeholder], textarea[placeholder], select[placeholder]').placeholder();
		}
		calculate_time_zone();
		//$("input#stan_country").val(geoip_country_name());
		//$("input#stan_city").val(geoip_city());
	//	$("input#stan_stateProvince").val(geoip_region_name());
		
  });
  $("#stan").click(function(){
        $('#stan').css('background-color','#ffffff');
        $('#ente').css('background-color','#ececec');
		$('#enterprises').hide();
		$('#standard').show();
		$('#stan').css('font-weight','bold');
		$('#ente').css('font-weight','normal');
		$('#promoCodeDiv').show();
		$('#ente').removeClass('borderclass');
		$('#stan').addClass('borderclass');
		$('#ente').removeClass('orangebar');
		$('#stan').addClass('greenbar');
		$('#stan').removeClass('lightbar');
		$('#ente').addClass('lightbar');
		$("#accTypeHidden").val("standard");
		clearFields();
		if($(".fname").val("")){
			 $('input[placeholder], textarea[placeholder], select[placeholder]').placeholder();
		}
		calculate_time_zone();
		//$("input#stan_country").val(geoip_country_name());
		//$("input#stan_city").val(geoip_city());
		//$("input#stan_stateProvince").val(geoip_region_name());
		
  });
  
  //code to filter country code
  $("#cc").on("keyup", function() {
	  var value = $(this).val().toLowerCase();
	  $("#c_codeDiv *").filter(function() {
	  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	  });
  });
  
}); 
//This method added to read the url.
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

            var company = "";
			var companySize = "";
			var fname="";
			var fnlen = "";
			var lname = "";
			var email = "";
			var username = "";
			var address1 = "";
			var city = "";
			var country ="";
			var phone = "";
			var timezone = "";
	        var formName="";
	        var promoCode = "";
	        var subTypeReg = "";
	        var accType = "";
	        var glbregPrice='';
	function enterKeyValid(event){
		if(event.keyCode == '13' ){
			submitRegistration();
		}
	}        
	       
	       
	var reg = /^[0-9+-]*$/;

	function authenticateUser(userName,type){
		$("#minAppAuthen").show();
		$("#left-area").hide();
		$("#authUserName").val(userName);
	}
	
	
	function cancelUserAuth(){
		$("#minAppAuthen").hide();
		$("#left-area").show();
		$("#registerPopup").show();
		$("#standard").hide();
		clearFields();
	}
	
	
	function validateUserAuth(){
		var userName = $("#authUserName").val().trim();
		var userPwd = $("#authUserPassword").val().trim();
		if(userPwd  == ""){
			alert("Please enter password");
			return false;
		}
		
		$.ajax({
 		url: "${path}/register.do",
		type:"POST",
		data:{act:"minAppAuthUser",userName:userName,userPwd:userPwd,type:accType},
		error: function(jqXHR, textStatus, errorThrown) {
	         	checkError(jqXHR,textStatus,errorThrown);
	         	$("#loadingBar").hide();
				timerControl("");
				},
		success:function(result){
			checkSessionTimeOut(result);
			if(result=="success"){
				alert("Applications merged successfully");
				cancelUserAuth();
				clearFields();
				return false;
			 }
			else{
				alert("Invalid password");
				return true;
			  } 
		  }
		  });
	
	
	
	}
	
	function displayLoader(){
		//$('div#brfSubmit').removeAttr('onclick');
		//$('div#brfSubmit').css('cursor', 'default');
		$('img.loader').show();
	}
	
	function hideLoader(){
		//$('div#brfSubmit').attr('onclick', 'submitRegistration()');
		//$('div#brfSubmit').css('cursor', 'pointer');
		$('img.loader').hide();
	}
	
	function getMinute(m){
		return Math.floor(m/60);
	}	
	
	function alertFun(info,type){
	 
     if(!info || !type){
            throw new Error("Please enter all the required config options!");
     }
     if(type=='warning'){
        name="BoxAlert";
     }else if(type=='error'){
        name="BoxError";
     }else{
        name="BoxSuccess";
     }
     
     var html='<div id="BoxOverlay" ></div>'+
    		 '<div id="alertDiv" class="alertMainCss">'+
    		 '  <div id="confirmCloseDiv" title="close" ></div> '+
             '  <div style="box-shadow: 0 0 20px #000000;" >'+
             '   <div style="box-shadow: 0 0 0 0 #000000; padding: 20px 20px 0;">'+
             '    <div id="confirm-BoxContenedor" class="'+name+'">'+
             '     <span id="confirmContent">'+info+'</span>'+   
             '     <div id="confirm-Buttons" class="alertBtnCss">'+
             '       <input id="BoxAlertBtnOk" type="submit" value="OK" >'+
             '     </div>'+
             '    </div>'+
             '  </div>'+
             ' </div>'+
             '</div>';
             
          $('body').find('#BoxOverlay').remove();
          $('body').find('#alertDiv').remove();
          //setTimeout(function(){  
                $('body').append(html);
                $('body').find('#alertDiv').find('#confirm-Buttons').children('#BoxAlertBtnOk').click(function(){
		          alertOk();
		        });
		        
		        $('body').find('#alertDiv').children('#confirmCloseDiv').click(function(){
		          alertOk();
		        });
       //},50);            
             
 
 }
 
  function alertOk(){
	   $('#BoxOverlay').hide();
	   $('#alertDiv').hide();
  }
  
 function isNumberKey(evnt){
	var e = evnt || evt; // for trans-browser compatibility
	var charCode = e.which || e.keyCode;
	if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 43 && charCode != 45)
		//alertFun("<bean:message key='Please_input_numeric_characters_only'/>",'success');
		alert("Please input numeric only");
		return false;
	}
  
  
function openGooglePage(){
		window.location.href = "${path}/WebRegisterOpenIdServlet?op=Google";
	}
	
	function openYahooPage(){
		window.location.href = "${path}/WebRegisterOpenIdServlet?op=Yahoo";
	}
	
	function openLoginGooglePage(){
		window.location.href = "${path}/WebLoginOpenIdServlet?op=Google";
	}
	
	function openLoginYahooPage(){
		window.location.href = "${path}/WebLoginOpenIdServlet?op=Yahoo";
	}



function validatePhone(obj) {
  var tel = obj.value;
  var re = /^[0-9+-]*$/;
  var m = re.exec(tel);
  if(m == null){
  	 alert("Please enter valid phone number");
  }
}

	function genPromCode(){
		 $.ajax({
		 		url: "${path}/register.do",//"${path}/workspaceAction.do",
				type:"POST",
				data:{act:"generatePromoCode"},
				error: function(jqXHR, textStatus, errorThrown) {
			         	checkError(jqXHR,textStatus,errorThrown);
			         	$("#loadingBar").hide();
						timerControl("");
						},
				success:function(result){
				checkSessionTimeOut(result);
				$("div#promoCodeCont").html(result);				 
				}
	 		});
	}


/*New code for registration*/

	function registerUser(type,subtype){
		$('.contDiv').hide();
		$("#registerPopup").hide();
		if(subtype == "enterprise"){
			$("#enterprises").show();
			$("#standard").hide();
			$("#subTypeReg").val("pro_enterprise");
			$("#accTypeHidden").val("web_enterprise");
			$("#standardAppTxt").html("The <span style=\"font-weight:bold;\">Colabus Enterprise Edition</span> is Free and has limited document storage space. Setup and administer projects directly from the mobile device ");
			
		 }
		else if(subtype == "standard"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_standard");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html("The <span style=\"font-weight:bold;\">Colabus Standard Edition</span> is Free and has limited document storage space. Setup and administer projects directly from the mobile device ");
			
		}
		
		else if(subtype== "projects"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_projects");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Projects</span> is Free and has limited Document storage, Project(s) creation,Task creation space along with Inviting users </span> ");
			
		} 
		else if(subtype== "brainstroming"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_brainstroming");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Ideas </span> is Free and has limited Idea(s) creation,Task creation space along with Inviting users </span> ");
			
		}
		else if(subtype== "agile"){
			$("#standard").show();  
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_agile");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Agile </span> is Free and has limited Project(s) creation,Task creation, creating sprints  along with Inviting users </span> ");
			
		}
		else if(subtype== "storage"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_storage");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Repository </span> is Free and has limited Document storage,Task creation along with Inviting users </span> ");
			
		}
		else if(subtype== "notebook"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_notebook");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Notes </span> is Free and has limited Notes creation, Photo upload,Blog creation along with Inviting users </span> ");
			
		}
		else if(subtype== "tasks"){
			$("#standard").show();
			$("#enterprises").hide();
			$("#subTypeReg").val("pro_tasks");
			$("#accTypeHidden").val("web_standard");
			$("#standardAppTxt").html(" <span style=\"font-weight:bold;\">Colabus Tasks </span> is Free and has limited Task creation and Inviting users </span> ");
			
		}
		
	}


	function goBackFrmReg(){
		$("#registerPopup").show();
		$("#enterprises").hide();
		$("#standard").hide();
		$("#accTypeHidden").val("");
		$("#subTypeReg").val("");
		clearFields();
	}
	


</script>

<body>
		
<div class="col-sm-12 container-fluid">
	<div id="mkreg" class="row d-inline-flex p-2">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="mykImg" style="margin-left: 7%;margin-top: 16%;"><img id="img" class="img-responsive" style="width:72%;" src="images/mykronus/logo.png" style=" /* height:132px; width: 78%; */"></div>
		<div id="line" class="col-md-1 col-lg-1 d-flex align-items-start hidden-xs" style="margin-top:30%;margin-left: -6%;" ><p class="vl" style=" border-right: 1px solid #868e96;"></p></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"id="userImg" style="margin-top: 10%;">
				<img id="userImage" style="width: 75%; margin-left: 8%;"class="img-responsive" src="images/mykronus/User.png">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-self-center mt-5">
	
		<div class="form-group align-items-center" style="float:center;">
			<h5 id="acc_w" style="color:#a09c9b;font-family: inherit;">I would like to create</h5>
			<select class="form-control form-user" id="userAccType"  value="" type="text" style="margin-top: 5%;width: -4px;color: #faf9f7;background: #725f01;border-radius: 10px;border: 2px solid white;margin-bottom:13px;width: 67%;" placeholder="Account Type" onchange="showFunc();">
						<option value="User Account" style="padding: 1%;" class="Select_Role_cLabelHtml">User Account</option>
  					  <option value="Corporate Account" style="padding: 1%;" class="Select_Role_cLabelHtml">Corporate Account</option>
			</select>
		</div>
		
		
		 <div id="ph" class='form-group align-items-center' >
			<div id="ph1" style='width: 67%;height: 40px;'>
			<div id="ph2" class="material-textfield" style="float:left;width: 28%;">
			<input class='theightdemo material-textfield-input' id="cc" onclick="cc_Code();" placeholder=" "style="border: 1px solid white;">
			<label class="material-textfield-label defaultExceedCls" id="ccod">Code</label>
			
					
       
    
  
    
    
    
</div>
			
			</div>
			<div id="ph3"class="material-textfield" style="float:left;width: 70%;margin-left:2%;">
			<input type='text' class='theightdemo material-textfield-input' onkeyup="checkAlbhabet(this)" data-format="+1 (ddd) ddd-dddd" id="phone" style="border: 1px solid white;" placeholder=" ">
			<label class="material-textfield-label">Mobile</label>
			<span class="redStar lab" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 4%;">*</span>
			</div>
			</div> 
		</div>
		
		<div class="form-group material-textfield">
				   <!-- <span class='regLabels register-head-sub bgColorForKronus' data-i18n="colabus-FirstName"></span> -->
				   <input class="form-control form-user theightdemo material-textfield-input" id="userFirstName" placeholder=" " type="text"style="color: #faf9f7;border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;    width: 67%;">
				   <label class="material-textfield-label defaultExceedCls labelall" style="margin-left: 6%;">First Name</label>
				   <span class="redStar" style="position: absolute;color: #0779a2;/* margin-left: 18%; */display: inline-block;margin-left: 2%;">*</span>
				   
				   </div>
				   
				   
				 <div class="form-group material-textfield">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				   <input class="form-control form-user theightdemo material-textfield-input" id="userLastName" placeholder=" " type="text" style="color: #faf9f7;border-radius: 10px;background: #060202;border: 1px solid white;    width: 67%;">
				   <label class="material-textfield-label defaultExceedCls labelall" style="margin-left: 6%;">Last Name</label>
				   
				  </div>
				  
				    <div class="form-group material-textfield">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				   <input  class="form-control form-user theightdemo material-textfield-input" id="Email" placeholder=" " type="text" style="color: #faf9f7;border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;    width: 67%;">
				   <label class="material-textfield-label defaultExceedCls labelall" style="margin-left: 6%;">Email</label>
				   <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;">*</span>
				   
				   </div>
				   
				  <div id="orgDiv" class="form-group material-textfield" style=" display: none; " >
					  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-Company"></span> -->
					 <input class="form-control form-user theightdemo material-textfield-input" id="org_name" onkeyup="chooseFromList();" placeholder=" " type="text" style="color: #faf9f7;border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;    width: 67%;">
					 <label class="material-textfield-label defaultExceedCls labelall" style="margin-left: 6%;">Organization</label>
					 <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;">*</span>
				  
					<span id="orgHidestar"></span>
				   </div>  
				   <div class="form-group material-textfield" id="addDiv" style="display:none;">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				   <textarea onclick="map_details();" rows="3"  onkeyup="wid();" class="form-control form-user defaultScrollDiv theightdemo material-textfield-input" id="add" placeholder=" " type="text" style="resize:none;color: #faf9f7;border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;height:85px;width: 67%"></textarea>
				   <label class="material-textfield-label defaultExceedCls labelall"  style="margin-left: 6%;">Address</label>
				   <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;" ><img class="img-responsive" src="images/geoLocation.png" id="addLocation_1"  style="float: left;width: 18px;margin-top: 3px;margin-right: -5px;cursor: pointer;position: relative;" title="Add Location" onclick="initialize();"></span>
				   </div>
				  <div class="form-group register-exist-company material-textfield" style="margin-top:10px">
						<span class='regLabels' data-i18n="colabus-Choose-Existing-Company" style="color:white"></span>
						<select id="companyList" class="country form-control form-user" name="slist" onchange="setOrgName(this);" style="margin-top: 5%;width: -4px;color: #faf9f7;background: #060202;border-radius: 10px;border: 2px solid white;margin-bottom:13px;width: 67%"></select>
						<input id="hiddenCompanyName" name ="hiddenCompanyName" value="" type="hidden">
					</div>
				   
				    <div id="down" class="" align="center" style="margin-left:-25%;">
					     <a id="reg" class="float-center" href="login.jsp"  style="display: inline-block;margin-top: 10px;width: 90px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #1688a8;color: white;height: 85%;border-radius: 10px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;" >CANCEL</a>
					 	<a id="can" class="float-center" onclick="submitRegistration();" style="margin-top: 10px;width: 90px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #1688a8;color: white;height: 85%; margin-left: 2%;border-radius: 10px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;" >REGISTER</a>
					  <div>
					  <input value="EmailRegister" name="regPlace" id="regPlace" type="hidden">
					</div>
				</div>
     
    </div>
		
		</div>
	</div>

</div>
    
    <!-- Preloader Start -->

        <div class="colorlib-load"></div>
    

		<section class="awesome-feature-area section_padding_intro_register clearfix" id="product" style="color:#000">
        <div class="container">
            <div class="row product-info-slick">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <!-- Heading Text -->
   <div class="section-heading-register">
	<div id="loginDiv" class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
		<h4 style="color: #c8d0d2; align-items: center;justify-content: center;display: flex;font-style: unset; margin-top: 40px;">Welcome To MyKronus</h4>
      	<h4 style=" color: #a0a5a7;align-items: center;justify-content: center;display: flex;">Get started in two simple steps</h4>
      
      
      <div class="row">
      		<div id="left-s" class="col-6 register-product" style="right: -11%; margin-left: -11px; color: #706b6b;margin-top: 4px; border-bottom: 1px solid wheat; ">I would like to create
      		<img id="img-tag" style="width: 133px; margin-top: 10%;"src="images/mykronus/User.png"></div>
			<div id="right-s" class="col-6 register-product" style="border-bottom: 1px solid wheat;right: -4%;">
			<div class="">   		
				   <div class="form-group">
				   <!-- onkeyup="extractUserData();" onblur="getDomain();" -->
				   <!-- <span class='regLabels register-head-sub bgColorForKronus' data-i18n="colabus-User-Id"></span> -->
				 <!--   <input class="form-control form-user" id="userId" placeholder="" onkeyup="extractUserData();" onblur='getDomain();'  value="" type="text" style="border-radius: 10px;background: #130B18;"> -->
				 
				 <select class="form-control form-user" id="userAccType"  value="" type="text" style="width: -4px;color: #9f9a9a;background: #060202;border-radius: 10px;border: 2px solid white;" placeholder="Account Type" onchange="showFunc();">
						<option value="User Account" style="padding: 1%;" class="Select_Role_cLabelHtml">User Account</option>
  					  <option value="Corporate Account" style="padding: 1%;" class="Select_Role_cLabelHtml">Corporate Account</option>
				</select>
				 	
				  </div>
				   
				   <div class="form-group">
				   <!-- <span class='regLabels register-head-sub bgColorForKronus' data-i18n="colabus-FirstName"></span> -->
				   <input  onkeyup="autofill(this);" class="form-control form-user" id="userId" placeholder="UserID" type="text"style="border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;">
				  	<span class="redStar" style="position: absolute;color: #0779a2;/* margin-left: 18%; */display: inline-block;margin-left: 2%;">*</span>
				   </div>
				   
				   
				   <div class="form-group">
				   <!-- <span class='regLabels register-head-sub bgColorForKronus' data-i18n="colabus-FirstName"></span> -->
				   <input class="form-control form-user" id="userFirstName" placeholder="First Name" type="text"style="border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;">
				  	<span class="redStar" style="position: absolute;color: #0779a2;/* margin-left: 18%; */display: inline-block;margin-left: 2%;">*</span>
				   </div>
				   <div class="form-group">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				   <input class="form-control form-user" id="userLastName" placeholder="Last Name" type="text" style="border-radius: 10px;background: #060202;border: 1px solid white;">
				   </div>
				   
				   <div class="form-group">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				  <input class="form-control form-user" id="cc" placeholder="+91" type="text" style="border-radius: 8px;background: #060202;display: inline-block;width: 48px;border: 1px solid white;">
				   <input class="form-control form-user" id="phone" placeholder="Mobile/Phone" type="text" style="border-radius: 10px;background: #060202;display: inline-block;width:75%;border: 1px solid white;">
				  <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;">*</span>
				   </div>
				   
				   
				   <div class="form-group" style="display:none;">
				   <input onkeyup="autofillUsername(this);" class="form-control form-user" id="email" placeholder="" type="text" >
				   </div>
				   
				   
				   <div class="form-group">
				  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-LastName"></span> -->
				   <input  class="form-control form-user" id="Email" placeholder="Email" type="text" style="border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;">
				   <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;">*</span>
				   </div>
				   
				   
				   
					  <div id="" class="form-group" style="height:10px"></div> 
				   														
				   <div id="orgDiv" class="form-group" style="display: none;" >
					  <!--  <span class='regLabels  register-head-sub-lastname bgColorForKronus' data-i18n="colabus-Company"></span> -->
					   <input class="form-control form-user" id="org_name" onkeyup="chooseFromList();" placeholder="Organization-Name" type="text" style="border-radius: 10px;background: #060202;display: inline-block;border: 1px solid white;">
					 <span class="redStar" style="position: absolute;color: #0779a2;display: inline-block;margin-left: 2%;">*</span>
				  
					<span id="orgHidestar"></span>
				   </div>
				   
		 		 <div class='regLabels  register-head-sub-lastname bgColorForKronus' id="uAd"style="color:#938e8e;display:none;" >Address</div> 
		 		 
		 		 <div id="none" class="form-group" style="height:30px;display:none"></div> 
		 		<div> 
		 		 <div class="round" style="display: none;">
					    <div id="tick"style="display:inline-block" onclick="changeTick();"><img id="notick" src="images/mykronus/notick.png" ></div>
		 				<input id="Add1" class="Add" type="text" style="margin-left: 2px; width:77%;outline: 0;font-size: 16px;font-family: inherit;">   
		 				<img class="img-responsive" src="images/geoLocation.png" id="addLocation_1"  style="float: right;width: 18px;margin-top: 3px;margin-right: -5px;cursor: pointer;position: relative;" title="Add Location" onclick="map();">
		 				<input id="Add1" class="Add" type="text" style="margin-left: 25px; width:77%;outline: 0;font-size: 16px;font-family: inherit;">   
		 				<input id="Add1" class="Add" type="text" style="margin-left: 25px; width:77%;outline: 0;font-size: 16px;font-family: inherit;">   
		 				
		 				<div id='map' style='width: 98%; height:500px;margin-top:20px;display:none'></div>
		 				<div id="c_map"style="width:2%;float:right;display:none;float: right;margin-right: -8px;width: 8px;margin-top: 4px;"><img onclick="closeUserPopUp()" src="images/close.png" style="padding-top: 15px;cursor:pointer;"></div>
		 				
		 				
  				</div> 
				   
    	   
				   
				   
				   
				   
				   
				   
				   
				   <div class="form-group register-exist-company" style="margin-top:10px">
						<span class='regLabels' data-i18n="colabus-Choose-Existing-Company" style="color:white"></span>
						<select id="companyList" class="country form-control form-user" name="slist" onchange="setOrgName(this);" style="width: -4px;color: #595454;background: #060202;border-radius: 10px;border: 2px solid white;"></select>
						<input id="hiddenCompanyName" name ="hiddenCompanyName" value="" type="hidden">
					</div>
				   <div class="form-group">
				   <textarea class="form-control" id="address" placeholder=""></textarea>
				   </div>
				   
					 <div class="form-group register-phone">
					 <input class="form-control" val="" id="compPhoneNumber" placeholder="" type="text">
					 </div>
					 
				 
				<div id="welcome-msg" class="row">
					<div align="center">
						<div class="col-lg-12" align="center"><img src="${path}/images/website/smiley.png"></div>
						<div class="col-lg-12" align="center" data-i18n="colabus-Thanks"></div>
						<div style="font-size: 20px;" align="center" data-i18n="colabus-Activation"></div>
					</div>
				</div>
	      	</div>
	      </div>
	      
<!-- 	<div id="reg-btn" style="display:none;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
						<input id="checkTrmsCond" name="terms" value=""  checked="checked" type="checkbox">
						<span class="register-showterms" onclick="showTerms();" data-i18n="colabus-TermsAndConditions"></span>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-btn-main" style="margin-top:20px;">
					  
			</div>
		</div>
	</div> -->
	</div>
                    </div>
                    <div align="center">
					     <a onclick="submitRegistration();" style="margin-top: 10px;width: 28%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #1688a8;color: white;height: 85%; margin-left: 51%;border-radius: 10px;font-size: 15px;font-family: inherit;display: inline-block;min-width: 145px;line-height: 31px;text-align: center;cursor: pointer;" >REGISTER</a>
					  <div>
					  <input value="EmailRegister" name="regPlace" id="regPlace" type="hidden">
					</div>
				</div>
                </div>
            </div>
		 </div>
       </section>	
	
	<div id="transparentDiv" class="transparentDiv">
	<!-- <input type="text" id="pac-input" placeholder="Enter or Search Places" style="font-size: 14px;padding: 14px;width: 25%;height: 50px;margin-top: 70px;z-index: 6;margin-left: -180px;left: 189px;position: absolute;top: 0px;border: none;color: rgb(0, 0, 0);border-radius: 4px;box-shadow: 0 2px 4px rgba(0,0,0,0.3);display:none" >
	 -->     						
	</div>
	<!-- <input type="text" id="pac-input" placeholder="Enter or Search Places" style="font-size:1rem;padding: 14px;display:none;width: 30%;height: 30px;margin-top: 54px;left:7px!important;z-index:6;border-color:none;margin-left: -202px;" >
	 --><!-- <div id="showDivMap"  style="font-size:1rem;padding: 7px;display:none;width: 30%;height: 103px;margin-top: 28px;left:7px!important;z-index:6;border-color:none;top:60px important;margin-left:11px;background:white">
	
		<div id="map_add" style="color:black"></div>
		<div style="margin-left: 79px;">
			<div id="cancel" class="float-center" onclick="closeMap();" style="display: inline-block;margin-top: 10px;width: 68px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #1688a8;color: white;height: 14%;border-radius: 10px;max-height: 30px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;">Exit Map</div>
			
			<div id="mapok" class="float-center" onclick="" style="display: inline-block;margin-top: 10px;width: 68px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color: #1688a8;color: white;height: 14%;border-radius: 10px;max-height: 30px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;">Ok</div>
		
		</div>
	 -->
	 <input type="hidden" id="reglatlon">
	

	
	</div>
    <form id="loginPage" name="loginPage" method="POST"  style="width:100%; text-align:center;display:none;">
			<div class="row" style="border-bottom: 1px solid #DDDDDD; padding-bottom: 25px;">
				<div class="col-lg-12" style="float: left; margin-bottom: 20px; padding-left: 0;">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 55px;  border-right: 1px solid #DDDDDD; padding-left: 0;">
						<img src="${path}/images/website/colabuslogo.png" style="width: 140px;"/>
					</div>
					<div class="col-lg-3"><span style="font-size: 22px; font-family: open_sanscondensed_light;">Login</span></div>
					
				</div>
				<div id="errorMsg" width="100%" height="30px" align="center" style="color: red; font-size: 15px;"></div>
				<div style="padding-top: 10px;">
					<div class = "form-group" style="padding-left: 0px !important;" >
					  <input  class = "form-control" type="text" name="userName" id="userName" value="" placeholder="Username"/>
				   	</div>
				   	<div class="form-group" style="padding-left: 0px !important;margin-bottom: 5px;">
				   	  <input  class = "form-control" type="password" name="userPwd" id="userPwd" value="" placeholder="Password" />
				   	</div>
				</div>
				<div onclick="changeScreens();" id="forgotPassword" class="col-lg-5 col-lg-offset-7 terms-hover" style="padding: 5px 0; font-family:open_sansregular; font-size: 13px;cursor:pointer;">Forgot password?</div>
				<div class="col-lg-3 col-lg-offset-9" style="padding: 5px 0;">
					<button onclick="loginSubmit();" type = "button" class = "btn btn-info" style="padding: 4px 18px !important;font-family:opensanscondbold;text-transform: uppercase;">Login</button> 
					<input type="hidden" name="localOffsetTime" id="localOffsetTime" value=""/>
					<input id="hiddenCompanyName1" name="hiddenCompanyName"value="" type="hidden">
				</div>
			</div>
		</form> 
		
		<script type='text/javascript'>
var et_custom = {"mobile_nav_text":"Navigation Menu"};
var et_frontend_info = {"heading_elements":"h1, h2, h3, h4, h5, h6, .slide .description h2, .post-heading h1, h1#comments, #reply-title, h1.category-title, .post-description h2, .related.products h2"};
</script>

<script type="text/javascript">

function showFunc() {
	  var x = document.getElementById("userAccType").value;
	  console.log(x);
	  if(x=="Corporate Account"){
		  
		  $("#orgDiv").show();
		  $("#userImage").attr("src","images/mykronus/Group.png");
		  $("#addDiv").show();
		  
	  }
	  else{
		  $("#checkbox"). prop("checked", false);
		  $("#addDiv").hide();
		  $("#orgDiv").hide();
		  $("#userImage").attr("src","images/mykronus/User.png")
	  }
	}


  $(document).ready(function() {
	  
		$("body").click(function(event ){
			var $target = $(event.target);
			if(!$target.is("#cc") ){
				console.log("enter");
	           $("#c_codeDiv").hide();
	        }
		});
	 
     $('#log').click(function(){
		$('#login').show();
		$('#loginDiv').show();
		noscrollBar();
		$('#forgotPasswordDiv').hide();
		$("td#errorMsg").html("");
		
	});
	$('#lay').click(function(){
		$('#login').hide();
		yesscrollBar();
	});
	$('#forgot_link').click(function(){
	    $('#loginDiv').hide();
		$('#forgotPasswordDiv').show();
		$('#pinMsgDiv').hide();
		$('#pinNumberTr').hide();
		$('#okBtnTr').hide();
		$('#sendTr').show();
		$("#resetPassTxt").show();
		$("#emailAdd").show();
		$("#captchaVal").show();
		$('#forgotUname').val("");
		$('#for_capt').val("");
	});


       $("td#errorMsg").html("");
       var inputs = $('input, textarea, select');
       inputs.on('keydown', function(e) {
       if (e.keyCode == 9 || e.which == 9) {
             e.preventDefault();

            //get next input based on the current input we left off
            var nextInput = inputs.get(inputs.index(this) + 1);

            //if we have a next input, go to it. or go back
            if (nextInput) {
                nextInput.focus();
            }
            else{
                inputs[0].focus();
            }
      
        }
      });
		 jsonData = [{"option_id":"92","option_value":"Personal Productivity"},
		 			 {"option_id":"93","option_value":"Team Productivity"},
		 			 {"option_id":"94","option_value":"Enterprise Productivity"},
		 			 {"option_id":"95","option_value":"Inspiration"},
		 			 {"option_id":"96","option_value":"Agility"}];  //-------this variable value get replaced below once ajax call is completed.
		 			 
	         var regType = getParameterByName('regType');
		     var subType = getParameterByName('subType');
		     var regPrice = getParameterByName('rP');
		     if(regType !=""){
		    	 if(regType == 'website' || regType == 'planSoc'){
			    	 glbregPrice=regPrice;
			    	 preparePackageList();
			    	  $('#selPackage').val(subType);
			    	   $('#selPackage').removeAttr('disabled');
			         $("#selectionReg").val("social");
			         $("div#orgDiv").hide();
				   	 $('#selPackage option:not([value=92],[value=0])').remove();
				   	 //alert("Coming Soon");
			   		 //$("#selectionReg").val("select you plan");
			   		// $('#selPackage').attr('disabled','true');
			     }else if(regType == 'planBus'){
			    	 $('#selPackage').removeAttr('disabled');
			    	 glbregPrice=regPrice;
			    	 preparePackageList();
			    	 $('#selPackage').val(subType);
			         $("#selectionReg").val("business");
			         $("div#orgDiv").show();
			         $('#selPackage option:not([value=92],[value=0],[value=93])').remove();
			     }else if(regType == 'planEnt'){
			    	 $('#selPackage').removeAttr('disabled');
			    	 glbregPrice=regPrice;
			    	 preparePackageList();
			    	 $('#selPackage').val(subType);
			    	 $("#selectionReg").val("enterprise");
				   	 $('#selPackage option:not([value=96],[value=0])').remove();
				   	$("div#orgDiv").show();
			     }else if(regType == 'planEntPlus'){
			    	 $('#selPackage option:not([value=0])').remove();
			   	     $('#selPackage').attr('disabled','true');
			         $("#selectionReg").attr("enterpriseplus");
			         $("div#orgDiv").show();
			     }
		     }
		     
	        var userEmail = '${userEmail}';
	        var promoCode = '${promoCode}';
	        var plan = '${plan}';
	        var package = '${package}';
	        var first_name = '${firstName}';
	        var last_name = '${lastName}';
	        var org_name = '${orgName}';
			uType = '${uType}';
			
		    if(userEmail!==null && userEmail!=''){
		        $('#email,#userId').val(userEmail);
		        if((first_name!=='null' && first_name!='') || (last_name!=='null' && last_name!='')){
		           $('#userFirstName').val(first_name);
		           $('#userLastName').val(last_name);
		        }else{
		           extractFromEmail(userEmail); 
		        }  
		        if(org_name===null || org_name == ''){
		           getDomain();
		        }else{
		           $('#org_name').val(org_name);
		        }
		        if(promoCode===null && promoCode==''){
		          promoCode = '';
		        }
		        $('#social_promocode').val(promoCode);
		        $("#checkTrmsCond").attr("checked", true); 
		        
		         $('#selPackage,#social_promocode').attr('disabled','true');
		    	 glbregPrice=regPrice;
		    	 preparePackageList();
		    	 $("#selectionReg").val("business").attr('disabled','true');
		         $("div#orgDiv").show();
		         if(plan!==null && plan !='' &&(plan =="social" || plan =="business" || plan =="enterprise" || plan =="enterpriseplus")){
		         	if(plan =="social"){
				   	   $('#selPackage option:not([value=0],[value=92])').remove();
				   	   $("div#orgDiv").hide();
	   				}else if(plan =="business"){
				   	   $('#selPackage option:not([value=92],[value=0],[value=93])').remove();
				   	}else if(plan =="enterprise"){
				   		$('#selPackage option:not([value=96],[value=0])').remove();
				   	}else if(plan=="enterpriseplus"){
				   	    $('#selPackage option:not([value=0])').remove();
				   	}
				   	$('#selPackage').attr('disabled','true');
				   	$("#selectionReg").val(plan.toLowerCase());
				   	$('#selPackage option[value='+package+']').attr('selected','true');
				   	
		         }else{
		            $('#selPackage option:not([value=92],[value=0],[value=93])').remove();
		            $('#selPackage option[value=93]').attr('selected','true');
		         }  
		         
		    }else{
		       $('#selPackage').removeAttr('disabled');
		       $('#social_promocode').removeAttr('disabled');
		    }
	
	
	
	$.ajax({
	    url: "${path}/colAuth?pAct=regUpgOptions",
		type:"POST",
		error: function(jqXHR, textStatus, errorThrown) {
	         	checkError(jqXHR,textStatus,errorThrown);
	         	$("#loadingBar").hide();
				timerControl("");
				},
		success:function(result){
			//checkSessionTimeOut(result);
		     jsonData = $.parseJSON(result);
		     
		}
		
    });
    if(uType == "guest"){
    	submitRegistration();
    }
	
   // $("#regInfo").attr("onclick","setHopscotch('registration');");
    
 });
 var uType;
 function extractUserData(){
    var userEmail = $('#userId').val();
    if(isNaN(userEmail)){
       extractFromEmail(userEmail); 
    }
 }
 function extractFromEmail(userEmail){
       var name = '';var domain = '' ;
        if(userEmail.indexOf('@') > -1){
           name = userEmail.substring(0,userEmail.indexOf('@'));
           domain = userEmail.substring(userEmail.indexOf('@')+1,userEmail.length);
        }else{
		   name = userEmail;
		}
        
        name = name.replace(/\./g,' ').replace(/_/g,' ');
        var fname ='';var lname='';
        if(name.indexOf(' ')>1){
          fname = name.substring(0, name.indexOf(' '));
          lname = name.substring(name.indexOf(' '),name.length);
        }else{
           fname = name ;
        }
        
        
        if(isNaN(fname)){
           fname = fname.capitalize();
           $('#userFirstName').val(fname);
        }
        if(isNaN(lname)){
           lname = lname.capitalize();
           $('#userLastName').val(lname);
        }
        $('#email,#userId').val(userEmail);
  }
 
 function getDomain(){
     var userEmail = $('#userId').val();
     var name = '';var domain = '' ;
        if(userEmail.indexOf('@') > -1){
           name = userEmail.substring(0,userEmail.indexOf('@'));
           domain = userEmail.substring(userEmail.indexOf('@')+1,userEmail.length);
        }else{
		   name = userEmail;
		}
      var domainArray = [
			  /* Default domains included */
			  "aol.com", "att.net", "comcast.net", "facebook.com", "gmail.com", "gmx.com", "googlemail.com",
			  "google.com", "hotmail.com", "hotmail.co.uk", "mac.com", "me.com", "mail.com", "msn.com",
			  "live.com", "sbcglobal.net", "verizon.net", "yahoo.com", "yahoo.co.uk",
			
			  /* Other global domains */
			  "email.com", "games.com" /* AOL */, "gmx.net", "hush.com", "hushmail.com", "icloud.com", "inbox.com",
			  "lavabit.com", "love.com" /* AOL */, "outlook.com", "pobox.com", "rocketmail.com" /* Yahoo */,
			  "safe-mail.net", "wow.com" /* AOL */, "ygm.com" /* AOL */, "ymail.com" /* Yahoo */, "zoho.com", "fastmail.fm",
			  "yandex.com",
			
			  /* United States ISP domains */
			  "bellsouth.net", "charter.net", "comcast.net", "cox.net", "earthlink.net", "juno.com",
			
			  /* British ISP domains */
			  "btinternet.com", "virginmedia.com", "blueyonder.co.uk", "freeserve.co.uk", "live.co.uk",
			  "ntlworld.com", "o2.co.uk", "orange.net", "sky.com", "talktalk.co.uk", "tiscali.co.uk",
			  "virgin.net", "wanadoo.co.uk", "bt.com",
			
			  /* Domains used in Asia */
			  "sina.com", "qq.com", "naver.com", "hanmail.net", "daum.net", "nate.com", "yahoo.co.jp", "yahoo.co.kr", "yahoo.co.id", "yahoo.co.in", "yahoo.com.sg", "yahoo.com.ph",
			
			  /* French ISP domains */
			  "hotmail.fr", "live.fr", "laposte.net", "yahoo.fr", "wanadoo.fr", "orange.fr", "gmx.fr", "sfr.fr", "neuf.fr", "free.fr",
			
			  /* German ISP domains */
			  "gmx.de", "hotmail.de", "live.de", "online.de", "t-online.de" /* T-Mobile */, "web.de", "yahoo.de",
			
			  /* Russian ISP domains */
			  "mail.ru", "rambler.ru", "yandex.ru", "ya.ru", "list.ru",
			
			  /* Belgian ISP domains */
			  "hotmail.be", "live.be", "skynet.be", "voo.be", "tvcablenet.be", "telenet.be",
			
			  /* Argentinian ISP domains */
			  "hotmail.com.ar", "live.com.ar", "yahoo.com.ar", "fibertel.com.ar", "speedy.com.ar", "arnet.com.ar",
			
			  /* Domains used in Mexico */
			  "hotmail.com", "gmail.com", "yahoo.com.mx", "live.com.mx", "gmail","yahoo","google","facebook","hotmail","yahoo.com", "hotmail.es", "live.com", "hotmail.com.mx", "prodigy.net.mx", "msn.com"
			];
			
        if($.inArray(domain,domainArray) == -1){
          if(domain.indexOf('.') > -1){
             domain = domain.substring(0,domain.indexOf('.'));
          }
          $('#org_name').val(domain);
        }
 }
 
String.prototype.capitalize = function(){
            return this.toLowerCase().replace( /\b\w/g, function (m) {
                return m.toUpperCase();
            });
        };
 
 
 var jsonData;
 function preparePackageList(){
    var optList='<option value="0">Standard</option>'; 
	  for(var i=0; i<jsonData.length; i++){
	    optList+="<option value='"+jsonData[i].option_id+"'>"+jsonData[i].option_value+"</option>";
	  }
	  $('#selPackage').html(optList);
 }
  
 $(function(){
	  var login='';
	  if(login=='login'){
	    //alert("openid");
	    $('#login').show();
	  }
	    var errMsg = '${errorMsg}';
		if(errMsg == 'Invalid username/password'){
		    $("td#errorMsg").html("Invalid username or password");
			$('#login').show();
		}
		
		var data = "";
	    if(data != "null" && data != ""){
	    	//alert(data);
	    }
	});
	
 function backToLogin(){
    $('#loginDiv').show();
	$('#forgotPasswordDiv').hide();
	$("#forgotUname").val("");
	$("#for_capt").val("");
 }
  
  
	
  	function setScreenProperties(){
		var w = $(window).width(),h = $(window).height(), dH = window.screen.height,dW = window.screen.width;
			var winW = 1024, winH = 768;
			if (document.body && document.body.offsetWidth) {
			 	winW = document.body.offsetWidth;
			 	winH = document.body.offsetHeight;
			}
			if (document.compatMode=='CSS1Compat' && document.documentElement && document.documentElement.offsetWidth ) {
			 	winW = document.documentElement.offsetWidth;
			 	winH = document.documentElement.offsetHeight;
			}
			if (window.innerWidth && window.innerHeight) {
			 	winW = window.innerWidth;
			 	winH = window.innerHeight;
			}
			
			if( typeof( window.innerWidth ) == 'number' ) { 
				//Non-IE 
				winW = window.innerWidth;
				winH = window.innerHeight; 
			
			} else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) { 
				//IE 6+ in 'standards compliant mode' 
				winW = document.documentElement.clientWidth; 
				winH = document.documentElement.clientHeight; 
			} else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) { 
				//IE 4 compatible 
				winW = document.body.clientWidth; 
				winH = document.body.clientHeight; 
			} 
			w = winW;
			h = winH;
			
			
	        var browser = "all";
	        if(jQuery.browser.safari){
	        	browser = "safari";
	        }else if(jQuery.browser.chrome){
	        	browser = "chrome";
	        }
	        $("#scrWidth").val(w);
			$("#scrHeight").val(h);
			$("#densWidth").val(dW);
			$("#densHeight").val(dH);
			$("#bwrType").val(browser);
			
	}
	var secondCount = 0;
	function timerControl(status){
			if(window.handle){clearInterval(window.handle)};	
			var timercount = 0;
			if( status == "start" ){
				$("span#timerSpan").show();
				handle = setInterval(function(){
					timercount++;
					secondCount++;
					if( secondCount >= 60 ){
						secondCount = 0;
					}else{
						
						$("span#timerSpan").text(getMinute(timercount)+':'+secondCount);
					}			
				},1000);							
			}else{
				$("span#timerSpan").hide();
				$("span#timerSpan").text("");	
				timercount = 0;	
				secondCount = 0;		
			}		
		}
   function generatePass(){
		var userName = $("#userName").val();
		var cookieUname = userName.replace(/\@/g,"");
		if($.cookie(""+cookieUname+"p")!='null'){
			$("#userPwd").val($.cookie(""+cookieUname+"p"));
		}
	}
	var remember =  getCookie('remember');
    if (remember == 'true') {
        var userName =getCookie('userName');
        var userPwd = getCookie('userPwd');
        // autofill the fields
        $('#userName').attr("value", userName);
        $('#userPwd').attr("value", userPwd);
        $("#userPwd").focus();
    }
    
    function setCookie(c_name,value,exdays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value;
	}
	
	function getCookie(c_name){
		var i,x,y,ARRcookies=document.cookie.split(";");
		for (i=0;i<ARRcookies.length;i++){
	 	 x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
	 	 y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
	  	x=x.replace(/^\s+|\s+$/g,"");
	 	 if (x==c_name){
	 	   return unescape(y);
	 	 }
  		}
  	}
	
	function signupUserVal(email, user_login_name, logOrReg, firstname, lastname) {
		$.ajax({ 
	       	  url: "${path}/FBAuthentication",
			  type:"POST",
			  data:{userEmail:email, user_login_name:user_login_name, logOrReg:logOrReg, firstname:firstname, lastname:lastname,html:html},
			  error: function(jqXHR, textStatus, errorThrown) {
			         	checkError(jqXHR,textStatus,errorThrown);
			         	$("#loadingBar").hide();
						timerControl("");
						},
			  success:function(result){
				  checkSessionTimeOut(result);
			  	window.location.href = "${path}/jsp/inviteList.jsp";
			  	parent.$('#loadingBar').hide();
			 	parent.timerControl("");
			  }
	   	});
	}
	
	function okayBtnClicked() {
		    if ($('#forgotUname').val() == '') {
		    	//alertFun("<bean:message key='Please_enter_your_login_name'/>",'success');
		    	alert("Please enter your login name");
		        return false;
		    }
		    if ($('#for_capt').val() == '') {
		    	  //alertFun("<bean:message key='Please_enter_the_captcha_value'/>",'success');
		    	  alert("Please enter the captcha value");
		        return false;
		    }
		   
		     $('#loadingBar').show();
		     timerControl("start");
		    
		    var flag1 = checkForPassImage();
		    var emailId = $('#forgotUname').val();
		    emailId = emailId.trim();
			if(flag1 == true){
				$.ajax({
			        url: "${path}/forgotpassword.do",
			        type: "POST",
			        data: {act:"fCheckUserExists",emailId:emailId},
			        error: function(jqXHR, textStatus, errorThrown) {
				         	checkError(jqXHR,textStatus,errorThrown);
				         	$("#loadingBar").hide();
							timerControl("");
							},
			        success: function(data) {
			        	checkSessionTimeOut(data);
			       // alert(data);
			        $('#loadingBar').hide();
			        timerControl("");
			            $('#overlay').hide();
			            var message = '';
			            var alertmsg;
			            if (data == 'Accepted') {
			               $('#pinMsgTr').show();
			               var msg = "Your PIN has been generated and mailed to your email address, Please type / paste the PIN from your email to generate a new password.";
			               $('#pinMsgDiv').html(msg);
			               $('#pinMsgDiv').show();
			               $('#pinNumberTr').show();
			               $('#okBtnTr').show();
			               $('#sendTr').hide();
			               $("#resetPassTxt").hide();
						   	$("#emailAdd").hide();
						   	$("#captchaVal").hide();
			               $('#emailIdPin').val(emailId);
			               $('#for_capt').val("");
			               $('#forgotUname').val("");
			            }
			            else {
			                //alertFun("<bean:message key='Please_enter_correct_details'/>",'success');
			                alert("Please enter correct details");
			            }
			        }
			    });
			}else{
				loadForPassCaptcha();
				$("#loadingBar").hide();
				timerControl("");
				$('#for_capt').val("");
			}
		}
		
		function okPinBtnClicked(){
			if ($('#pinNumber').val() == '') {
				  //alertFun("<bean:message key='Enter_Pin'/>",'success');
				  alert("Enter Pin");
		        return false;
		    }
		    $('#loadingBar').show();
		    timerControl("start");
		    var emailId = $('#emailIdPin').val();
		    var pinNumber = $('#pinNumber').val();
		    $.ajax({
		        url: "${path}/forgotpassword.do",
		        type: "POST",
		        data: {act:"checkPin",emailId:emailId,pinNumber:pinNumber},
		        error: function(jqXHR, textStatus, errorThrown) {
			         	checkError(jqXHR,textStatus,errorThrown);
			         	$("#loadingBar").hide();
						timerControl("");
						},
		        success: function (data) {
		        	checkSessionTimeOut(data);
		         $('#loadingBar').hide();
		         timerControl("");
		        	if(data == 'Accepted'){
		        		alert("You have successfully generated a new password. Please check your email for the password.");
		        		$('#pinMsgDiv').hide();
			               $('#pinNumberTr').hide();
			               $('#okBtnTr').hide();
			               $('#sendTr').show();
			               $("#resetPassTxt").show();
						   	$("#emailAdd").show();
						   	$("#captchaVal").show();
						   	$('#login').hide();
							$('#loginDiv').hide();
							$('#forgotPasswordDiv').hide();
							$('#pinNumber').val("");
		        	}else{
		        		alert("Please enter correct pin");
		        		$('#pinNumber').focus();
		        		return false;
		        	}
		        }
			});
		}
		
		function loadForPassCaptcha(){
			var img_name = new Array("archipelago.png","Java.png");
			var l = img_name.length;
			var rnd_no = Math.floor(l*Math.random());
			document.getElementById('forCapImage').src = "${path}/images/website/"+img_name[rnd_no];
			$('#forImageName').val(img_name[rnd_no]);
		}	
		
		function checkForPassImage(){
			var flag = true;
			var cImage = $('#for_capt').val()+".png";
			var hImage = $('#forImageName').val();
			if(cImage != hImage){
				flag = false;
			}
			return flag;
		}
		
		
		function submitRegistration(){
		//alert("inside submitRegistration");
			   var type = $('#selectionReg option:selected').attr("id")
			   var upgradePlan = $('#selPackage option:selected').attr("value");
			   var fname = $("input#userFirstName").val().trim();
			   var email = $("input#Email").val();
			  // var userId = $("input#userId").val();
			   var fnlen = $.trim(fname).length;
			   var address = $("textarea#add").val();
			   var characterReg = /^\s*[a-zA-Z0-9,',_,\-,.,@,\s]+\s*$/;
			   var orgName = $("input#org_name").val();
			   var country = $("#stan_country option:selected").text();		
			   var cc_code=$("#cc").val();
			 //  console.log(cc_code);
			   var compPhoneNumber = $("input#phone").val().trim();
			   compPhoneNumber= compPhoneNumber.replace(/[^a-zA-Z0-9]/g, '');
               console.log("--"+compPhoneNumber);
			   //console.log("Country::"+country);
			   var lname = $("input#userLastName").val().trim();
			  // compPhoneNumber=cc_code+compPhoneNumber;
               var userId=(cc_code+compPhoneNumber).substring(1);
               //console.log(userId);
			   var timezone = $('select#ent_timezone option:selected').val();			  
			   var country = $("#stan_country option:selected").text();			  
			   var localOffsetTime=getTimeOffset(new Date());
			   var PhoneReg = /^\s*[0-9,+,-,\s]+\s*$/;
			   var promocode = $("input#social_promocode").val();
			   var regPlace = $('#regPlace').val();
			   var lat=latitude;
			   var lon=longitude;
			   var uType = '${uType}';
			   if(type == "NotSelected"){
		    		alert("Please select your plan");
		    		//$("input#selectionReg").css('border','1px solid red');
		    		return false;
			   }
			   
			  /*  if(userId=="" || userId==null){
					alert("Mobile cannot be empty");
				 	$("input#userId").focus();
				 	//$("input#userId").css('border','1px solid red');
					return false;
				} */
			   if(document.getElementById("userAccType").value=="Corporate Account"){
				   if($("#org_name").val()=="" || $("#org_name").val()==null){
					   alert("Please enter a company name ");
					   return false;
				   }
			   }
			   if(fname == null || fname == ""){
					alert("First Name cannot be empty!");
					$("input#userFirstName").focus();
					//$("input#userFirstName").css('border','1px solid red');
					return false;
			   }
			   
			/*    if(fnlen==0) {
					alert("First Name should not start with space");
					$("input#userFirstName").focus();
					//$("input#userFirstName").css('border','1px solid red');
					return false;
			  }  */
			  if( typeof email=="undefined" ||  email=="" ){
				  alert("Please enter email id");
				  return false;
			  } 
			  
			  if(typeof compPhoneNumber=="undefined" || compPhoneNumber==""){
				  alert("Please enter phone number");
				  return false;
			  } 
			  
			   // here in Regular Expression the permission to add ' (single quote) has been removed for testing user id
			   characterReg = /^\s*[a-zA-Z0-9,_,\-,.,@,\s]+\s*$/;
			    if(!characterReg.test(fname)) {
				    alert("Special characters are not allowed",'warning');
				    $("input#userFirstName").focus();
				    //$("input#userFirstName").css('border','1px solid red');
				    return false;
			   }
			   
			/*    if(!characterReg.test(userId)) {			  
				    alert("Special characters are not allowed",'warning');
				    $("input#userId").focus();
				    //$("input#userId").css('border','1px solid red');
				    return false;
			   } */
			   
			   
			   if(validateEmailJs(userId,true,false) ) {
				 	$("input#email").val(userId);
			   }else if(!isNaN(userId)){
			        $('#compPhoneNumber').val(userId);
			   } 
			   var phoneReg=/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
			   var forEmailReg=/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			   /* if(!phoneReg.test(userId) ){
				  alert("Please enter a valid phone number!");
				  return false;
			   } */
			  /*  if(!phoneReg.test(compPhoneNumber)){
				   alert("Please enter a valid  phone number!");
					  return false;
			   } */
			   
			   var existCompanyId = 0;
			   if(type !="Social"){
			   		/* if(orgName == ""){
			   			 alert("Organization Name cannot be empty",'warning');
					    $("input#org_name").focus();
					    //$("input#org_name").css('border','1px solid red');
					    return false;
			   		} */
			   		characterReg = /^\s*[a-zA-Z0-9,&,_,.,@,\s]+\s*$/;
			   		/* if(!characterReg.test(orgName)) {
					    alert("Special characters are not allowed",'warning');
					    $("input#org_name").focus();
					    //$("input#org_name").css('border','1px solid red');
					    return false;
			   		} */
			   		
			   		if(companyExistFlag){
			   		   existCompanyId  = $('#hiddenCompanyName').val();
			   		   //alert(existCompanyId);
			   		   if(existCompanyId!='0'){
			   		      if($('#companyList option[value='+existCompanyId+']').text()!=orgName){
			   		         goforWarning();
			   		         return false;
			   		      }
			   		   }else if(warnFlag){
			   		     goforWarning();
			   		     return false;
			   		   }
			   		}
			   }
			
			   
			  /*  if(!PhoneReg.test(compPhoneNumber)){
			   		alert("Phone number cannot have special characters");
					return false;
			   } */
			   
			   if(!forEmailReg.test(email)){
			   		alert("Enter valid email");
					return false;
			   }
			   
			/*    if(!$("#checkTrmsCond").is(':checked')){
						alert(" Check the accept and terms conditions.")
						return false;
			    } */
				var registerDevice="web";
			   
				$('#loadingBar').show();
                timerControl("start");
              
                //console.log("${path}/colAuth?pAct=register&localOffsetTime="+localOffsetTime+"&accType="+type+"&lname="+lname+"&fname="+fname+"&email="+email+"&userId="+userId+"&address="+address+"&orgName="+orgName+"&country="+country+"&compPhoneNumber="+compPhoneNumber+"&upgradePlan="+upgradePlan+"&regPrice="+glbregPrice+"&timezone="+timezone+"&promocode="+promocode+"&regPlace="+regPlace+"&existCompanyId="+existCompanyId+"&companyCreateFlag="+companyCreateFlag+"&registerDevice="+registerDevice+"&uType="+uType);
				$.ajax({
				    url: "${path}/colAuth?pAct=register&localOffsetTime="+localOffsetTime+"&accType="+type+"&lname="+lname+"&fname="+fname+"&email="+email+"&userId="+userId+"&address="+address+"&orgName="+orgName+"&country="+country+"&compPhoneNumber="+compPhoneNumber+"&upgradePlan="+upgradePlan+"&regPrice="+glbregPrice+"&timezone="+timezone+"&promocode="+promocode+"&regPlace="+regPlace+"&existCompanyId="+existCompanyId+"&companyCreateFlag="+companyCreateFlag+"&registerDevice="+registerDevice+"&uType="+uType+"&lat="+lat+"&lon="+lon+"&cc_code="+cc_code,
					type:"POST",
					error: function(jqXHR, textStatus, errorThrown) {
				         	checkError(jqXHR,textStatus,errorThrown);
				         	$("#loadingBar").hide();
							timerControl("");
							},
					success:function(result){
						console.log(result);
					   checkSessionTimeOut(result);
						 $('#loadingBar').hide();
		        		 timerControl("");
							hideLoader();
							result = result.split("!#@$!@#");
							var companyId= result[1];
							//alert(companyId);
							if(result[0] == "success"){
								autoLogIn(userId,"welcome",companyId);
								
							}else if(result[0] == 'userNameExists'){
				    		   alert("User already exists with the same Username.");
				    		}else if(result[0] == 'companyExists'){
				    			companyExistFlag = true;
				    			//$('#companyList').parent().show();
				    			$('#companyList').html('<option value="0"></option>');
				    			var json = eval(jQuery.parseJSON(result[1]));
				    			console.log(json);
				    			var companyList='';
				    			for(var i = 0; i < json.length; i++){
							      $('#companyList').append('<option value="'+json[i].companyId+'">'+json[i].companyName+'</option>');
								  companyList = companyList+','+json[i].companyName
								}
								chooseFromList();
								var t = confirm('Your company may have been already registered by someone else.\n\nDo you want to continue ?');
								if(!t){
								   $('#companyList').parent().show();
								}else{
								   submitRegistration();
								}
								
				    		}
				    	}
			    });
			    
	}
	
	function chooseFromList(){
	   if(companyExistFlag){
	       var cFlag = false;
	       warnFlag = true;
		   $('#companyList').children('option').each(function(){
		      if($(this).text()==$('#org_name').val().trim()){
		         cFlag = true;
		         $(this).attr('selected','true');
		         $('#hiddenCompanyName').val($(this).val());
		         return false;
		      }
		   });
		   if(!cFlag){
		      $('#companyList').children('option[value=0]').attr('selected','true');
		      $('#hiddenCompanyName').val("0");
		      companyCreateFlag = true;
		   }
	   }
	}
	var warnFlag = true;
	function goforWarning(){
	  //var t = confirm("Warning : The other company was registered with the same. Somebody has already registered your company with the domain name. Either you can choose to be part of that company or you can create a new company. If you create a new company you cannot collaborate with the company already registered by your domain. ");
	  //if(t){
	     $('#hiddenCompanyName').val("0");
	     companyCreateFlag = true;
	     warnFlag = false;
	     submitRegistration();
	 // }
	}
	
	
	var companyExistFlag = false;
	var companyCreateFlag = false;
	function setOrgName(obj){
	   var orgName = $(obj).children("option:selected").text();
	   $('#hiddenCompanyName').val($(obj).children("option:selected").val());
	   if(orgName!=''){
	     $('#org_name').val(orgName);
	   }
	}
	
   function autoLogIn(emailId,cPwd,companyId){
        var localOffsetTime=getTimeOffset();
	    $('#localOffsetTime').val(localOffsetTime);
		var cookieUname = emailId.replace(/\@/g,"");
		setCookie(""+cookieUname+"", emailId,14);
 		setCookie(""+cookieUname+"p", cPwd,14);
   		setCookie(""+cookieUname+"r", true,14);
		setScreenProperties();
		$("input#userName").val(emailId);
	   	$("input#userPwd").val(cPwd);
	   	$("input#hiddenCompanyName1").val(companyId);
	   
	    document.getElementById('loginPage').action="${path}/colAuth?pAct=login&openId=normal";
		document.getElementById('loginPage').submit();
  }
	
		//To get local time zone offset.	
	function getTimeOffset(date){

	//DST Prototypes for detecting DST
		Date.prototype.stdTimezoneOffset = function() {
		    var jan = new Date(this.getFullYear(), 0, 1);
		    var jul = new Date(this.getFullYear(), 6, 1);
		    return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
		}
	
		Date.prototype.dst = function() {
		    return this.getTimezoneOffset() < this.stdTimezoneOffset();
		}
	   // for changing java script UTC to GMT with detecting DST
		var d = new Date();
	    var s = d.toString().split('GMT')[1].split('(')[0];
	
		var a = s;
			a = s.substr(1,2);
		var b = s.substr(3,4); 
		if(a > 0){
		  if (d.dst()) {
		    a = parseInt(a)+1;
		  }
		  a= a*60*60;
		}
		b = b*60;
		a = a+b;
		if(s < 0){
		  a ='-'+a;
		} 
		 return a;	
  }

	function autofillUsername(obj){
	  $("input#userId").val($(obj).val());
	}
	function autofill(obj){
			if($.isNumeric($(obj).val())){
				$("input#phone").val($(obj).val());
				
			}
			
		  //$("input#userId").val($(obj).val());
		}
	
	function clearFields(){
        $("input#userFirstName").val("");
		$("input#email").val("");
		$("input#userId").val("");
		$("input#org_name").val("");
		$("textarea#address").val("");
		$("#checkTrmsCond").attr("checked", false); 
    }
    
    function autofillUsername(emailObj){
  	  var emailVal = $(emailObj).val();
	  $("input#userId").val(emailVal);
	}
	
   function validation(path){
   		 var urlLink = path + "/emailVal.jsp";
		 /*var httpIndex = urlLink.indexOf("http://");
		 if(httpIndex!=0){
		 urlLink ='http://'+urlLink ;
		 }*/
		 window.open(urlLink);
   }
   
   function showTerms(){
   	$("div#loginDiv").hide();
   	$("div#acceptTermsDiv").show();
   }
   
   function backScreen(){
    $("div#loginDiv").show();
   	$("div#acceptTermsDiv").hide();
   }
   
   function hideOrg(obj){
	    var type = $('#selectionReg option:selected').attr("id");
	    $('#selPackage').removeAttr('disabled');
	    preparePackageList();
	   	if(type == "Social"){
	   		$("div#orgDiv").hide();
	   		$('#selPackage option:not([value=92],[value=0])').remove();
	   		//alert("Coming Soon");
	   		//$("#selectionReg").val("select you plan");
	   		//$('#selPackage').attr('disabled','true');
	   		//$("div#socialPromoCode").show();
	   	}else if(type == "NotSelected"){
	   	    $('#selPackage option:not([value=0])').remove();
	   	    $('#selPackage').attr('disabled','true');
	   	}else{
	   	    $("div#orgDiv").show();
	   	    if(type =="Business"){
		   	   $('#selPackage option:not([value=92],[value=0],[value=93])').remove();
		   	}else if(type =="Enterprise"){
		   		$('#selPackage option:not([value=96],[value=0])').remove();
		   	}else if(type=="Enterprise_plus"){
		   	    $('#selPackage option:not([value=0])').remove();
		   	    $('#selPackage').attr('disabled','true');
		   	}
		   	//$("div#socialPromoCode").hide();
	   	}
   }
	
	function generateRegistrationLink(){
	    var domain = location.protocol + "//" + location.host;
	    //var domain = 'http://localhost:8080/colabusApp/';
	    var email = $('#userId').val();
	    var promo_code = $('#social_promocode').val();
	    var plan = $('#selectionReg option:selected').attr("id");
	    if(plan != "NotSelected"){
		    plan = $('#selectionReg option:selected').attr("value");
		}else{
		    plan = '';
		}
		var package = $('#selPackage option:selected').attr("value");
		var userFirstName = $('#userFirstName').val();
		var userLastName = $('#userLastName').val();
		var org_name = $('#org_name').val();
		if(plan=='social'){
		   org_name = '';
		}
 	    domain = domain +'/colAuth?pAct=emailRegister&email='+email+'&first_name='+userFirstName+'&last_name='+userLastName+'&org_name='+org_name+'&promo_code='+promo_code+'&plan='+plan+'&package='+package;
	    var temp='';
	    temp += " <div class='row' style='margin:0px;'>"
	    		+'  <span style="text-align: left; float: left; font-size: 15px; font-weight: bold; font-style: normal; width: 95%;">Registration Link</span>'
			    +"  <textarea style='min-height: 100px;width: 100%; margin-top: 10px; border-radius: 2px; border: 1px solid rgb(204, 204, 204); padding: 5px;'>"+domain+"</textarea>"
			    +" </div>"
				   
		$("div#registerUI").css({"width":"auto", "margin-top": "-15%", "margin-left": "-25%",  'min-width': '50%', 'min-height': '30%'});
		$("div#registerUI").removeClass("packagePop");
		
	    $('div#container').html(temp);
	    $("div#registerUI").show();
		$("div#transparentDiv").show();
	}
	
	
	function changePlan(type){
		$("div#registerUI").show();
		$("div#transparentDiv").show();
		var temp='';
		if(type == 'ColabusPlan'){
				 $(".createTaskPopUpMainCls").css({"height":"auto", "top":"50%"});
	
				 temp += " <div class='row' style='margin:0px;'>"
				      +"  <img src='${path}/images/planList.jpg' >"
				      +" </div>"
				   
				$("div#registerUI").css({"width":"auto", "margin-top": "-15%", "margin-left": "-30%"});
				$("div#registerUI").removeClass("packagePop");
			    $('div#container').html(temp);
		    
		}else {
	
			
			temp += ' <div class="row" style="margin:0px;">'
				      +'  <div class="col-lg-12" style="color: rgb(0, 0, 0); font-weight: bold; font-size: 16px;display:none;">Package</div>'
				      +'  <div class="col-lg-12" style="color:#000;text-align: center;">'
				      +'      <img src="${path}/images/package_social.png" >'
				      +'  </div>'
				      
				      +'  <div class="col-lg-12" style="color:#000;text-align: center; margin-top: 5px;">'
				      +'      <img src="${path}/images/package_business.png" >'
				      +'  </div>'
				      
				      +'  <div class="col-lg-12" style="color: rgb(0, 0, 0); text-align: center; margin-top: 5px;">'
				      +'      <img src="${path}/images/package_ent.png" >'
				      +'  </div>'
				      +'</div>'
			
			
			
				$("div#registerUI").addClass("packagePop");
				$("div#registerUI").css({"width":"44%", "margin-top": "-23%", "margin-left": "-22%"});
				$('div#container').html(temp);
		}	
	}
	function cancelregisterUIContainer(){
   		$('div#registerUI').hide();
   		$("div#transparentDiv").hide();
   		
    }
	
/* 	function showCompany(){
		
	} */
	
	function selectIt(obj){
		var code=$(obj).attr('code');
		$("#cc").val(code);
		$("#c_codeDiv").css('display','none');
	
	}
	function cc_Code(){
		
		$("#c_codeDiv").css('display','block');
	}
	
	function map_details(){
		 if($("#add").val()==""){
			const Http = new XMLHttpRequest();
			const url="https://maps.googleapis.com/maps/api/geocode/json?latlng="+latitude+","+longitude+"&key=AIzaSyBxPvEJbu8FN_T6wFir2PHAfgXEueCyFyk&sensor=true"
			
			Http.open("GET", url);
			Http.send();


			  Http.onreadystatechange = (e) => {
			   
			   var json=Http.response;
			   if(json==""){
			     }
			   else{

			    var jsonData=JSON.parse(json);
			    $("#add").val('');
			    $("#add").val(jsonData.results[0].formatted_address);
			    wid();
				}
			}
		  }	
		}
	function closeUserPopUp(){
		$("#map").hide();
		$("#c_map").hide();
	}
	
	function changeTick(){
		$("#notick").attr('src','images/mykronus/tick.png')
	}
	
		
	
		function initialize() { 

			  if (navigator.geolocation) {
				    navigator.geolocation.getCurrentPosition(showPosition);
				  } else {
				    alert( "Geolocation is not supported by this browser.");
				  }
			console.log("latitide:"+latitude);
			console.log("longitude:"+longitude);
			if($("#reglatlon").val()!=""){
				var lonlat_reg=$("#reglatlon").val();
				
				lonlat_reg=lonlat_reg.replace(/[^0-9.,+-]/g, "");
				latitude = lonlat_reg.split(",")[0];
		     	longitude = lonlat_reg.split(",")[1];
		     	
		   	}
			if(typeof latitude!="undefined" && typeof latitude!="undefined"){
		    var latlng = new google.maps.LatLng(latitude, longitude);
		   
		    var myOptions = {
		        zoom: 16,
		        center: latlng,
		        mapTypeId: google.maps.MapTypeId.ROADMAP
		    };
		   
		   
		   // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);var input = document.getElementById("pac-input");
		   //var searchBox = new google.maps.places.SearchBox(input);
		   
		    map = new google.maps.Map(document.getElementById("transparentDiv"), myOptions);
		     //map.controls[google.maps.ControlPosition.LEFT].push(document.getElementById("showDivMap"));
			   
			$("div#transparentDiv").css('display','contents');	
			$("div#transparentDiv").children('div').css("z-index","1");
			//$("div#transparentDiv").append('<div>Hello Testing</div>');
		    //$("div#transparentDiv").append('<button style="/* padding:1.5vh; */border:none;position: absolute;z-index: 2;right: 50px;margin: 10px;width: 40px;height: 40px;top: 0;/* display: flex; */background-color: #fff;border-radius: 2px;box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;user-select:none;outline-color: white;" align="center"><img src="${path}/images/close.png" onclick="closeMap();" title="Close" style="width: 16px;height: 16px;    cursor: pointer;"/></button>');
		     var htmlData = '<button style="/* padding:1.5vh; */border:none;position: absolute;z-index: 2;right: 50px;margin: 10px;width: 40px;height: 40px;top: 0;/* display: flex; */background-color: #fff;border-radius: 2px;box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;user-select:none;outline-color: white;" align="center"><img src="images/close.png" onclick="closeMap();" title="Close" style="width: 16px;height: 16px;"/></button>'
	         					//+'<input type="text" id="pac-input1" placeholder="Enter or Search Places" style="font-size: 14px;padding: 14px;width: 25%;height: 50px;margin-top: 70px;z-index: 6;margin-left: -180px;left: 189px;position: absolute;top: 0px;border: none;color: rgb(0, 0, 0);border-radius: 4px;box-shadow: 0 2px 4px rgba(0,0,0,0.3);" >'
	     						
								+'<div>'
								+'	<input type="text" id="pac-input" placeholder="Enter or Search Places" style="font-size: 14px;padding: 14px;width: 25%;height: 50px;margin-top: 70px;z-index: 0;margin-left: -180px;left: 189px;position: absolute;top: 0px;border: none;color: rgb(0, 0, 0);border-radius: 4px;box-shadow: 0 2px 4px rgba(0,0,0,0.3);" >'
								+'	<div id="abcd1"><img src="images/searchThree.png" style="display:inline-block;margin-top: 87px; margin-left: -32px;width:19px"></div>'
								+'</div>'
								+' <div id="showDivMap"  style="color: rgb(0, 0, 0);font-size: 14px;padding: 14px;width: 25%;margin-top: 134px;z-index: 6;box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;background-color: white;border-radius: 4px;position: absolute;margin-left: 8px;display: none;margin-left: -357px;">'
   
								+' <div align="left" style="display: flex;justify-content: flex-end;cursor: pointer;"  onclick="closeMap();">x</div>'
								+'		<h4>Use this location ?</h4>'
	     						+'		<div id="map_add" style="color:black;font-style: italic;"></div>'
	         					+'		<div align="right" style="margin-left: 79px;">'
	         					+'			<input type="hidden" id="map_latlng" >'		
	         					+'     		<div id="cancel" class="float-center" onclick="closeCancel();" style="display: inline-block;margin-top: 10px;width: 50px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #1688a8;height: 14%;border-radius: 10px;max-height: 30px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;">Cancel</div> '		
	         					+'			<div id="mapok" class="float-center" onclick="confirmAddLocation()" style="display: inline-block;margin-top: 10px;width: 40px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #1688a8;height: 14%;border-radius: 10px;max-height: 30px;font-size: 15px;font-family: inherit;display: inline-block;line-height: 31px;text-align: center;cursor: pointer;">OK</div>'
	         					+'		</div>'
	         					+'</div>';
	         								
	         					
		         $("div#transparentDiv").append(htmlData); 
		         
	            var input = document.getElementById("pac-input");
			    var searchBox = new google.maps.places.SearchBox(input);
			    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
			    map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.getElementById("showDivMap"));
			    map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.getElementById("abcd1"));
				   
			    $("#pac-input").show();
				// $("showDivMap").show();
			    
			   
		    marker = new google.maps.Marker({
		        position: latlng,
		        map: map,
		        title: "Latitude:"+latitude+" | Longitude:"+longitude
		    });
		    
		    $("body").find("#showDivMap").show();
		  // alert( addAdd(latlng));
		   if($("#add").val()==""){
			    //alert("---");
		        $("body").find("#map_add").text(addAdd(latlng));
		    	 //$("#mapok").attr("onclick","mapHide("+addAdd(event.latLng)+")");
		    	$("#mapok").attr("onclick","mapHide(\""+addAdd(latlng)+"\",\""+latlng+"\")");
		   }
		   else{
			   //alert("else block");
			   $("body").find("#map_add").text($("#add").val());
			   $("#mapok").attr("onclick","mapHide(\""+$("#add").val()+"\",\""+latlng+"\")");
			   
		   }
		    google.maps.event.addListener(map, 'click', function(event) {
		    
		        
		         
		    	 placeMarkerAndPanTo(event.latLng, map);
		         //alert(addAdd(event.latLng));
		         $("body").find("#showDivMap").show();
		         $("body").find("#map_add").text(addAdd(event.latLng));
		    	 //$("#mapok").attr("onclick","mapHide("+addAdd(event.latLng)+")");
		    	 $("#mapok").attr("onclick","mapHide(\""+addAdd(event.latLng)+"\",\""+event.latLng+"\")");
			        
		    });
		    google.maps.event.addListener(marker, 'click', function(event) {
		    	 $("body").find("#showDivMap").show();
		         $("body").find("#map_add").text(addAdd(event.latLng));
		    	 //$("#mapok").attr("onclick","mapHide("+addAdd(event.latLng)+")");
		    	  $("#mapok").attr("onclick","mapHide(\""+addAdd(event.latLng)+"\",\""+event.latLng+"\")");
			      
		    	 var loc=addAdd(event.latLng);
		    	 //newGoogleMapConfirm(("Would you like to add as your location?\n "+loc),"delete","mapHide",loc,"fromRegister");
		      
		    });
		    
		    
		    
		    //for map search 
		 
		    google.maps.event.addListener(searchBox, 'places_changed', function() {
		    
		    searchBox.set('map', null);
		    marker.setMap(null);
			

		      var places = searchBox.getPlaces();
			  
		      var bounds = new google.maps.LatLngBounds();
		      var i, place;
		      for (i = 0; place = places[i]; i++) {
		    	 
		    	  	$("body").find("#showDivMap").show();
				   
	       			 $("body").find("#map_add").text($("#pac-input").val());
	    	
	    			 $("#mapok").attr("onclick","mapHide(\""+$("#pac-input").val()+"\",\""+place.geometry.location+"\")");
				      
				    
		         (function(place) {
		           marker = new google.maps.Marker({
					
		            position: place.geometry.location
		          });
		          marker.bindTo('map', searchBox, 'map');
		          google.maps.event.addListener(marker, 'map_changed', function() {
		            if (!this.getMap()) {
		              this.unbindAll();
		            }
		          });
		         
		          google.maps.event.addListener(marker, 'click', function(event) {
				       /*  var result = [event.latLng.lat(), event.latLng.lng()];
				        transition(result); */
				    	  //placeMarkerAndPanTo(event.latLng, map);
				        
				      var loc=addAdd(event.latLng);
				      $("body").find("#showDivMap").show();
				      $("#map_add").text(addAdd(place.geometry.location));
				      $("#mapok").attr("onclick","mapHide(\""+addAdd(place.geometry.location)+"\",\""+place.geometry.location+"\")");
				         
		        	  //newGoogleMapConfirm(("Would you like to add as your location?\n "+loc),"delete","mapHide",loc,"fromRegister");
		 		     
				        
				    });
		          
		          bounds.extend(place.geometry.location);


		        }(place));

		      }
		      map.fitBounds(bounds);
		      searchBox.set('map', map);
		      map.setZoom(Math.min(map.getZoom(),12));

		    });
		    
		   
		    
		}
	}




		
	  function closeMap(){
		   $("div#transparentDiv").css('display','none');
		 	
		   $("#pac-input").val("");
		 
	       
	   }
	  function closeCancel(){
		  $("#showDivMap").hide();
	  }
	

	 function placeMarkerAndPanTo(latLng, map) {
		 	marker.setMap(null);
		 	marker.setMap(null);
		 	marker = new google.maps.Marker({
		       position: latLng,
		       map: map
		     });
		     map.panTo(latLng);
		     
		     google.maps.event.addListener(marker, 'click', function(event) {
		    	 $("body").find("#showDivMap").show();
		         $("body").find("#map_add").text(addAdd(event.latLng));
		    	 //$("#mapok").attr("onclick","mapHide("+addAdd(event.latLng)+")");
		    	 $("#mapok").attr("onclick","mapHide(\""+addAdd(event.latLng)+"\",\""+event.latLng+"\")");
		     //newGoogleMapConfirm(("Would you like to add as your location?\n "+loc),"delete","mapHide",loc,"fromRegister");
		       /*   var result = [event.latLng.lat(), event.latLng.lng()];
		         console.log(result);
		         var nLatLong = event.latLng.lat()+","+event.latLng.lng();
		         const Http = new XMLHttpRequest();
		 		const url="https://maps.googleapis.com/maps/api/geocode/json?latlng="+nLatLong+"&key=AIzaSyDWK5X-46qOnwoewBb49Qj4qdPq1YjVP9g&sensor=true";
		 		
		 		Http.open("GET", url);
		 		Http.send();


		 		Http.onreadystatechange = (e) => {
		 		   ui="";
		 		   var json=Http.response;
		 		   if(json==""){
		 		     }
		 		   else{

		 		    var jsonData=JSON.parse(json);
		 		   			$("#add").val('');
				    		$("#add").val(jsonData.results[0].formatted_address);
		 			}
		 		}
		 		$("div#transparentDiv").css('display','none');
		 		wid(); */
		     });
		     
		   }
	 function mapHide(Address,latLng){
		 $("#add").val('');
		 $("#add").val(Address); 
		 wid();  
	     $("div#transparentDiv").css('display','none');
	    
	     $("#reglatlon").val(latLng);
	    // $("div#transparentDiv").html('');
	     $("#pac-input").val("");
	     //$("#pac-input").hide();
	     ///$("#showDivMap").hide();
	 }
		function wid(){
			var add=document.getElementById("add"); 
			 var isOverflowing = add.clientWidth < add.scrollWidth || add.clientHeight < add.scrollHeight;
			 
			 if(isOverflowing){
				 $("#add").css("border-radius","4px");
				 
			 }
			 else{
				 $("#add").css("border-radius","10px");
			 }
				 
		}
	
	
	
		/* function addAdd(latLng){
		
		 var result = [latLng.lat(), latLng.lng()];
	       /*  console.log(result);
	         const Http = new XMLHttpRequest();
			
			const url="https://maps.googleapis.com/maps/api/geocode/json?latlng="+result[0]+","+result[1]+"&key=AIzaSyDWK5X-46qOnwoewBb49Qj4qdPq1YjVP9g&sensor=true"
			Http.open("GET", url);
			Http.send();  
			

		 	 Http.onreadystatechange = (e) => {
			  
			   var json=Http.response;
			   if(json==""){
			     }
			   else{
				console.log(json);
			    var jsonData=JSON.parse(json);
			    $("#add").val('');
			    $("#add").val(jsonData.results[0].formatted_address); 
			   
			    
				}
			}
		 	wid();  
	        $("div#transparentDiv").css('display','none'); */
	        
	        
	   	/*  $.ajax({
	         url: "https://maps.googleapis.com/maps/api/geocode/json?latlng="+result[0]+","+result[1]+"&key=AIzaSyDWK5X-46qOnwoewBb49Qj4qdPq1YjVP9g&sensor=true",
			 async:false,
	         success: function (data) {
	        	 console.log(data);
	        	 	returnAdd="";
				    returnAdd=data.results[0].formatted_address;
				    console.log(returnAdd);
				    
	         }
	   	 });
	        return returnAdd; 
	} 
		
	 */
//checking if there any alphabet in registration phone field
	 
	 
	 function checkAlbhabet(obj){
		 if(containsOnlyLettersOrParenthesis($(obj).val())!=null){
			/*  var letter=$(obj).val().substring(0,$(obj).val().length()-2);
			  */
			 var stringN = $(obj).val();
			 var val=stringN.substring(0,stringN.length-1);
			 $("#phone").val(val);
		 }
	 }
	 
	 function containsOnlyLettersOrParenthesis(str)
	 {
		 
	     return str.match(/[a-z]/i);
	 }

</script>
	
	
  
  
    <!-- Jquery-2.2.4 JS -->
    <!-- Popper js -->
    <script src="script/mainJs/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="script/mainJs/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="script/mainJs/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="script/mainJs/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <!-- <script src="js/footer-reveal.min.js"></script> -->
    <!-- Active JS -->
    <script src="script/mainJs/active.js"></script>
</body>

</html>
