@CHARSET "ISO-8859-1";
*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'Abel';
    src: url('../fonts/abel-regular-webfont.eot');
    src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abel-regular-webfont.woff') format('woff'),
         url('../fonts/Abel-Regular.ttf') format('truetype'),
         url('../fonts/abel-regular-webfont.woff#opensansregular') format('svg');
}

body{
	font-family: 'Abel';	
	line-height: 22px;
}

.tabGradientCls { 
	/* fallback */ background-color: #1a82f7; background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F0), to(#FDFDFD)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/*IE 7 and above*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F1F1F0, endColorstr=#FDFDFD);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#F1F1F0, endColorstr=#FDFDFD)";
}

.headerTabCls{
	float: left; 
	width: 130px; 
	padding-top: 14px; 
	list-style: none; 
	text-align: center; 
	height: 36px; 
	border-right: 1px solid #CCCCCC; 
	color:#4184AE; 
	font-weight: bold; 
	cursor: pointer;
}

.tActive{
	color: #B000B0;
}

.tabActiveCont{
	display:block !important;
	color: #3083D6;
}

.helpContText{
	display: none;
}
.activeHelpCont{
	display: block !important;
	
}

.dispCont{
	background:#ffffff;
	width:100%;
	float:left;
	height: 478px;
}

.container{
	position: relative;
}

.textClass{
	margin:10px 10px 10px 10px;
	text-align: left;
}

.textCls{
	text-transform: uppercase;
	font-weight: bold;
	width:300px;
	margin-left: 10px;
}

.ulOlCls{
	padding-left: 50px;
	padding-right: 20px;
}

.tabContent{
	height:auto;
	clear:both;
}
.tabContent div{
	display:none;
	/*box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	background:#ffffff;
	-moz-border-radius:0px 3px 3px 3px;
	-webkit-border-radius: 0px 3px 3px 3px;
	border-radius: 0px 3px 3px 3px;future proofing */
	/*-khtml-border-radius: 0px 3px 3px 3px; /* for old Konqueror browsers */
}

.tabIconContent div{
	display:none;
	/*box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	background:#ffffff;
	-moz-border-radius:0px 3px 3px 3px;
	-webkit-border-radius: 0px 3px 3px 3px;
	border-radius: 0px 3px 3px 3px;future proofing */
	/*-khtml-border-radius: 0px 3px 3px 3px; /* for old Konqueror browsers */
}

.anchorDivCls{
	text-decoration: none;
	color: #5F5F7D;
}

.divCls{
	cursor:pointer;  
	padding-top: 10px; 
	padding-bottom: 10px; 
	list-style:none; 
	font-size: 16px; 
	color: #5F5F5F; 
	border-bottom: 1px solid #6F6F6F;
	line-height: normal;
	padding-left: 10px;
}
.tabDiv{
	background: #EEEEEE;
	padding:10px;
	width: 145px;
	float: left;
	position: absolute;
	z-index: 1000;
	height: 370px;
}

.helpContentCls{
	width:79%; 
	float:right; 
	margin:0px 0px 0px 5px; 
	background-color: #FFF;
}

.contTitle{
	border-top: 20px solid #97CD06;
    border-left: 15px solid #FFFFFF;
    float: right;
    width: 300px;
    text-align: center;
    margin-right: 20px;
}

.bottomTd{
	border-bottom:1px solid #CCCCCC;
}
.leftTd{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	text-align:center;
}
.rightTd{
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	text-align:center;
}
.resize{
	margin:0px auto;
}

.headerText{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    margin: 10px;
}

.tActive{
	color: #3083D6;
}

.tInactive{
	color: #5F5F5F;
}

.iconText{
	margin-left: 40px;	
	text-align: left;
	margin-bottom: 8px;
	width: 245px;
}
.tabGradientCls { 
	/* fallback */ background-color: #1a82f7; background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F0), to(#FDFDFD)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #F1F1F0, #FDFDFD); 
	/*IE 7 and above*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F1F1F0, endColorstr=#FDFDFD);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#F1F1F0, endColorstr=#FDFDFD)";
}

.headerIntroTabCls{
	float: left; 
	width: 130px; 
	padding-top: 13px; 
	list-style: none; 
	text-align: center; 
	height: 26px; 
	border-right: 1px solid #CCCCCC; 
	color:#4184AE; 
	font-weight: bold; 
	cursor: pointer;
	font-family: 'Abel';
	border-bottom: 1px solid #CCCCCC;
}

.helpIntroDispCont{
	background:#ffffff;
	width:970px;
	float:left;
	height: 532px;
	font-family: Tahoma;
}
.helpIntroContainer{
	position: relative;
}
.helpModContent{
	margin: 25px 0px 0px 10px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 20px;
}
.helpModContTxt{
	float: left; 
	margin: 65px 0px 0px 19px;
	font-family: Tahoma;
	width: 280px;
	text-align: justify;
}
.helpContentBody{
}
.iconDispCont{
	background:#ffffff;
	width:79%;
	float:left;
}
.iconHelpContentCls {
    background-color: #FFFFFF;
    float: right;
    height: 530px;
    overflow: hidden;
    width: 80%;
}
.iconContainer{
	position: relative;
}

.iconChangeDiv:hover{
	background-color: #F2F2F1;
}

.divCls:hover{
	background-color: #F2F2F1;
}

.loginTabsTitle{
	border-right: 15px solid transparent;
    border-top: 25px solid #3B3B3B;
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 110px;
    cursor: pointer;
}

.loginTabsTxtCls{
	color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
   	width: 105px;
   	font-family: Tahoma;
}
.hidden_searchTxt{
	display:none;
}

.activeTab{
	color: #FFFFFF;	
}

.inActiveTab{
	color: #A7A7A7;
}
.iconActiveTab{
	display: block;	
}

.iconInActiveTab{
	display: none;	
}

.tabs{
	height:40px;
	width:100%;
	float:left;
	padding-top: 3px;
}
.tabs ul{
	float:left;
	height:40px;
	width:100%;
	list-style:none;
}
.tabs ul li{
	float:left;
	background: #D3D3D3;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #D3D3D3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#D3D3D3 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#D3D3D3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#D3D3D3 100%);
	background: linear-gradient(top, #FFFFFF 0%,#D3D3D3 100%);
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D3D3D3',GradientType=0 );
	
	font-size: 13px;
	line-height: 30px;
	height: 35px;
	position: relative;
	padding: 0 0px;
    float: left;
	display: block;
	width: 49%;
	/*color: #385c5b;*/
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.3);*/
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	cursor:pointer;
}
.roundCorners3{
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
}
.tabs ul li:hover{
	background:#D3D3D3;
}
.tabActive{
	color:#8CC417;
	border-top: 2px solid #8CC417;
	top:-2px;
	background:#ffffff !important;
	box-shadow: 2px 0 0px rgba(0,0,0,0.1) !important;

}
#tabUl{
	box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	background:#ffffff;
	-moz-border-radius:0px 3px 3px 3px;
	-webkit-border-radius: 0px 3px 3px 3px;
	border-radius: 0px 3px 3px 3px;/* future proofing */
	-khtml-border-radius: 0px 3px 3px 3px; /* for old Konqueror browsers */
}