
.mCSB_container {
    margin-right: 30px;
    overflow: hidden;
    width: auto;
}
.mCSB_container.mCS_no_scrollbar {
    margin-right: 0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar, .mCS_destroyed .mCSB_container.mCS_no_scrollbar {
    margin-right: 30px;
}
.mCustomScrollBox .mCSB_scrollTools {
    height: 100%;
    right: 0;
    top: 0;
    width: 16px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    -moz-box-sizing: border-box;
    height: 100%;
}
.mCSB_scrollTools .mCSB_buttonUp + .mCSB_draggerContainer {
    padding-bottom: 40px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    margin: 0 auto;
    width: 2px;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    height: 30px;
    width: 100%;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 4px;
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
    cursor: pointer;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
}
.mCSB_scrollTools .mCSB_buttonDown {
    bottom: 0;
    margin-top: -40px;
}
.mCSB_horizontal .mCSB_container {
    height: auto;
    margin-bottom: 30px;
    margin-right: 0;
    overflow: hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar {
    margin-bottom: 0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar, .mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar {
    margin-bottom: 30px;
    margin-right: 0;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {
    bottom: 0;
    height: 16px;
    left: 0;
    overflow: hidden;
    right: auto;
    top: auto;
    width: 100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer {
    -moz-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: auto;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft + .mCSB_draggerContainer {
    padding-bottom: 0;
    padding-right: 20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 10px 10px 10px 10px;
    height: 2px;
    margin: 7px 0;
    width: 100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger {
    height: 100%;
    width: 30px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 10px 10px 10px 10px;
    height: 4px;
    margin: 6px auto;
    width: 100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    cursor: pointer;
    float: left;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    bottom: auto;
    float: right;
    margin-left: -40px;
    margin-top: -16px;
    right: 0;
}
.mCustomScrollBox .mCSB_scrollTools {
    opacity: 0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools {
    opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    background-image: url("../images/mCSB_buttons.png");
    background-repeat: no-repeat;
    opacity: 0.4;
}
.mCSB_scrollTools .mCSB_buttonUp {
    background-position: 0 0;
}
.mCSB_scrollTools .mCSB_buttonDown {
    background-position: 0 -20px;
}
.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: 0 -40px;
}
.mCSB_scrollTools .mCSB_buttonRight {
    background-position: 0 -56px;
}
.mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {
    opacity: 0.75;
}
.mCSB_scrollTools .mCSB_buttonUp:active, .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active {
    opacity: 0.9;
}
