@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot') format('embedded-opentype'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'LatoBoldBold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBoldBold') format('svg');
}
@font-face {
    font-family: 'DosisBold';
    src: url('../fonts/dosis-bold.eot');
    src: url('../fonts/dosis-bold.eot') format('embedded-opentype'),
         url('../fonts/dosis-bold.woff2') format('woff2'),
         url('../fonts/dosis-bold.woff') format('woff'),
         url('../fonts/dosis-bold.ttf') format('truetype'),
         url('../fonts/dosis-bold.svg#DosisBold') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/../fonts/OpenSans-CondBold.ttf') format('truetype');
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 28, 2015 */



@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('../fonts/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.eot');
    src: url('../fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.sol_bg{
	background: url(../images/website/solutionsbg.jpg);
	height: 493px;	
	background-position:center;
	width: 100%;
	background-attachment: fixed;
}

*{
	font-family: 'open_sansregular';
}
h1 {
  font-size: 5.9vw !important;
}
h2 {
  font-size: 3.0vh !important;
}
.diff_sol{
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	padding: 20px;
}
.sol_header{
	color: #FFFFFF;	
	margin-top: 10%;
}
.start_cls{
	background:	#77b1e3;
	height: 83px;
	color: #FFFFFF;
	width: 100%;
}
.startup_img{
	background: #4381bc;
	float: left;
    height: 79px;
    margin: 2px;
    padding: 8px;
    width: 26%;
}
.p-margin{
	margin: 40px;
	color: #000000;	
	font-size: 18px;
	line-height: 22px;
}
.prof_cls{
	background:#67a63b;
	height: 83px;
	color: #FFFFFF;
	width: 100%;
}
.caluLabel{
    float: left;
    color: #2D200F;
    font-size: 14px;
    text-transform: uppercase;
    font-family: open_sanscondensed_light;
    font-weight: bold;
    word-spacing: 1px;
    margin-top: 2px;
    letter-spacing: 0.4px;
}
.calculateCls{
    width: 12%;
    font-size: 14px;
    text-transform: uppercase;
    font-family: open_sanscondensed_light;
    font-weight: bold;
    background: #598526;
    color: #fff;
    padding: 2.3px;
    float: left;
    letter-spacing: 0.9px;
    border-radius: 2px;
    cursor: pointer;
}
.seeHowCls{
    width: 9%;
    font-size: 16px;
    text-transform: capitalize;
    top: 52.7%;
    left: 75%;
    text-align: center;
    font-family: open_sansregular;
    background: #6F0F68;
    color: #fff;
    padding-top: 0.6%;
    padding-bottom:0.6%;
    float: left;
    position: absolute;
    letter-spacing: 0.9px;
    border-radius: 4px;
    cursor: pointer;
}
.moveFasterLabel{
  color: #f7be0f;
  font-size: 42px;
  font-weight: bold;
  top: 15%;
  font-family: open_sansbold_italic;
  font-style: italic;
  position: absolute;
  text-align: center;
  width: 100%;
  cursor: pointer; 
}

.ImproveLabel{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  top: 25%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.yellowSeeHowCls{
    width: 9%;
    float: left;
    position: absolute;
    right: 0;
    /*background: #F7941D;*/
    background: #00aeef;
    padding: 1.5%;
    top: 17%;
    font-weight: 600;
    padding-top: 3%;
    padding-right: 1%;
    position: fixed;
    z-index: 900;
}
.yellowSeeHowLabel{
    color: #fff;
    font-size: 12px;
    padding-bottom: 17%; 
}
.yellowSeeHowBtnCls{
    /*background: #1A99E0;*/
    background:#03506c;
    color: #fff;
    width: 100%;
    font-size: 12px;
    float: left;
    text-align: center;
    font-family: open_sansregular;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom:5px;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
}
.seeHowPopupHeader{
    text-align: center;
    /*font-family: open_sanscondensed_light;*/
    font-family: open_sansregular;
    width: 100%;
    /*color: #1B96A8;*/
    color: #000;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 3%;
    padding-left: 5%;
}
.seeHowIconCls{
    float: left;
    margin-right: 1%;
    margin-top: 2px;
}
area{
   outline: none !important;
}

.seeHowInputCls{
    border-radius: 5px !important;
    float: left;
    width: 29% !important;
    font-size:16px !important;
    margin-bottom: 12px;
    margin-right: 2%;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
}
.conSubmitBtn{
    color: #fff;
    width: 17.4%;
    float: right;
    background: #00BFF3;
    text-align: center;
    font-family: open_sansregular;
    font-size:14px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    margin-left: 2%;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.thanksDivCls{
    color: #000;
    width: 100%;
    font-size: 28px;
    text-align: center;
    float: left;
    padding-bottom: 8%;
}
.defaultCls{
    margin: 0px;
    padding: 0px;
}
.defaultExceedCls{
	text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.seeHowSubmitBtn{
    color: #fff;
    width: 17.5%;
    float: right;
    background: #00BFF3;
    text-align: center;
    font-family: open_sansregular;
    letter-spacing: 1px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    margin-top: 1.5%;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.seeHowCloseBtn{
    color: #fff;
    width: 17.5%;
    background: #00BFF3;
    text-align: center;
    font-family: open_sansregular;
    letter-spacing: 1px;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    margin-top: 1.5%;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}
.vert-offset-top-7 {
    margin-top: 7em;
}
.vert-offset-top-6{
    margin-top: 6em;
}
.vert-offset-top-5{
    margin-top: 5em;
}
.vert-offset-top-4{
    margin-top: 4em;
}
.websitetransparentDiv{
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter:alpha(opacity=50); 
   -moz-opacity: 0.6; 
   opacity: 0.6;
   -khtml-opacity: 0.6;
   z-index:1000;
   position:fixed;
   display:none;
   background-color:#000000;
   margin:0px;
   padding:0px;
   left:0px;
   top:0px;
   right:0;
   bottom:0;	
}
.websitepopUpMain{
    display:none; 
    position: absolute !important; 
    z-index: 5000 !important;
    padding-left:21% !important;
    top: 8%;
    width: 90%;
    left: 0;
}

.websitepopUpContent{
	border: 1px solid #888888;
	background: rgb(255, 255, 255);
	padding:11px 15px 11px 15px;
	border-radius:2px;
	overflow-y: auto;
	overflow-x:hidden; 
	position: fixed;
	padding: 2% 5% 3% 3% !important;
	width: 58%;
	
}
.websitepopUpCloseIcon{
    float: right;
    cursor: pointer;
    margin-top: -2%;
    margin-right: -8%;
}
.websitePopupSubdiv{
   float:left;
   font-family: open_sanscondensed_light;
   color: #000;
   height: 300px;
   letter-spacing: 1px;
}

.prof_img{
	background: #88cf59;
	float: left;
    height: 79px;
    margin: 2px;
    padding: 8px;
    width: 26%;
}
.associate_cls{
	background:#bb31a1;
	height: 83px;
	color: #FFFFFF;
	width: 100%;
}
.associate_img{
	background: #d26fc1;
	float: left;
    height: 79px;
    margin: 2px;
    padding: 8px;
    width: 26%;
}
.public_cls{
	background: #b0632d;
	height: 83px;
	color: #FFFFFF;
	width: 100%;
}
.public_img{
	background: #d47b3f;
	float: left;
    height: 79px;
    margin: 2px;
    padding: 8px;
    width: 26%;
}


 .col-lg-12{
    padding-left: 0px;
    padding-right: 0px;
 }
 .row{
 margin-left:0px;margin-right:0px;
 }
 p{
	color:#000000;
 }
 .service_block p
 {
 color:#000000;
 }
 .label {
    border-radius:0px;
 }
 #testDrive{
    background: url(../images/website/testdrive.jpg) repeat;
 }
 .case-border{
	border-right: 1px solid #DDDDDD; 
 }
 .case-padding{
	padding-left: 40px !important; 
 }
 .news_bg{
	background: #f2f2f2; 
 }
 .mod-p{
	color: #FFFFFF; 
	margin: 0;
	line-height: 22px;
	font-size: 15px;
 }
 .proj-div{
	border-bottom: 1px solid #DDDDDD; margin-bottom: 20px; 
 }
 .mod-div{
	padding-bottom: 20px; 
 }
 .mod-name{
	text-transform:capitalize; 
	font-size: 20px; 
	font-family: open_sansbold;
 }
 .nav ul.toggle li a{
	color: #FFFFFF; 
 }
 .nav ul.toggle li a:hover{
	color:#49b5e7;
  }
 .topTransDiv{
	   top:42%;
  }
  .tsetDlabelMain{
      margin-top: 2px; background:url(../images/website/testdrive_new.png); background-size: cover;background-repeat: no-repeat;
  }
  .tsetDlabel{
    font-size: 16px; 
	margin-top:5px;
	color:#ffffff;
	font-style: italic; 
	text-align: right;
  }
 .mod-img-cls{
	float: left; 
	position: absolute;
 }
 .mod-icon{
	margin-right: 10px; position: absolute; 
 }
 .mod-cls{
	 margin-left: 14%;
	 }
.solAbt-bg{
	background: #DDDDDD;
	height: 250px;	
}
.abt_diff_sol{
	border-bottom: 0;
	border-top: 0;	
}
li.activeMenu{
	border-bottom: 2px solid #49b5e7 !important;
}
.nav ul li.activeMenu a{
	color: #49b5e7 !important;	
}
.standard-pricing{
	background: #4cb992;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
  margin-bottom: 20px;
		
}
.enterprise-pricing{
	background: #efb57c;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
		
}
.stand-pricing{
	background: #3b9776;
	padding: 20px; color: #FFFFFF; margin: 0px;font-weight: bold;
}
.ent-pricing{
	background: #ea9e53;
	padding: 20px; color: #FFFFFF; margin: 0px;font-weight: bold;
}
.detail_button {
    background-color: #3b9776;
	min-width: 7rem;
}
.btn {
    -moz-user-select: none;
    background: #2ab27b none repeat scroll 0 0;
    border: medium none;
    border-radius: 0.25rem;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: 'OpenSansLight';
    font-size: 15px;
    font-weight: 900;
    line-height: 1.2rem;
    margin: 0;
    padding: 8px 14px 9px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: bottom;
    white-space: nowrap;
}
.btn::after {
    border-radius: 0.25rem;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.pricing-heading{
	color: #FFFFFF; 
	font-weight: bold; 
	font-size: 20px;	
	font-family: open_sansregular;
	text-transform: capitalize;
}

.solution_bg{
    height: auto;
    width: 100%;
  }
  #solution-div{
    margin-top:6%;
	margin-bottom:3%;
  }
  .Entre_bg{
    background: #ffffff;
    height: auto;
    width: 100%;
	padding:20px 0;
  }
  .Profes_bg{
    background: #F9F9F9;
    height: auto;
    width: 100%;
	padding:20px 0;
  }
  .Profes_bg p{
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 50px;
  }
  .Entre_bg p{
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 50px;
  }
  .plan_price {
    display: block;
    font-size: 5.5rem;
    font-weight: 900;
    height: 6rem;
    letter-spacing: -2px;
    line-height: 6.5rem;
    margin-bottom: 0.5rem;
    margin-left: -2.5rem;
    position: relative;
    font-family: open_sansregular;
  }
  
.plan_price .currency {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    top: -1.75rem;
}

.defTextBox{
   background-color: rgb(248, 248, 248);
   border:1px solid rgb(225, 225, 225);
   color: rgb(128, 128, 128);
   margin: 2px auto 12px;
   margin: 2px auto 12px;
   width: 84%;
   padding:8px 6px;
}
.signup-margin{
	margin-top: 5%;	
}
.textShadow{
  box-shadow:0 0 3px 0px rgba(0, 0, 0, 0.35);
}
.textShadowNone{
  box-shadow:"";
}
.pass_mainDiv{
  padding:30px;
  text-align:center;
}
.forgetEmailBox{
   background-color: rgb(248, 248, 248);
   border:1px solid rgb(225, 225, 225);
   color: rgb(128, 128, 128);
   margin: 2px auto 20px;
   padding:8px 6px;
   width: 35%;
}
.pass_sendBtn{
  font-size: 13px;
  min-width: 90px;
  padding: 12px 16px 10px;
  border-color: rgb(0, 151, 206); 
  color: rgb(255, 255, 255); 
  background-color: rgb(0, 151, 206);
  border:1px solid rgb(0, 151, 206);
  border-radius:3px;
}
.btn-margin{
	margin-left: 45px;	
}
.advisory{
	margin-bottom: 0px;
}
.mTeam{
	margin-bottom: 0px;	
}
.banner-text{
	color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 40px; font-size: 27px;	
}
.banner-text-second{
color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 40px; font-size: 21px;
}
.bennerTextRight{
	color: rgb(255, 255, 255); 
	  position: absolute; 
	  right: 4%; 
	  top: 15%; 
	  background: rgba(240, 67, 36, 0.65) none repeat scroll 0px 0px; 
	  padding: 40px; 
	  min-width: 30%;
}
.bennerTextLeft{
	color: rgb(255, 255, 255); 
	  position: absolute; 
	  left: 4%; 
	  top: 15%; 
	  background: rgba(240, 67, 36, 0.65) none repeat scroll 0px 0px; 
	  padding: 40px; 
	  min-width: 30%;
  }
  
  .banner-sub-cont{
	  font: 19px/130% 'OpenSansLight';
	  color: #FFFFFF;
  }
  .abt-img{
		margin-top: 15px;  
  }
  .sign-up{
	background: #20262f; opacity: 0.7; border-radius: 4px; padding: 35px; margin-top: 60px; background-size: cover;
  }
  .nxtBtnCls{
	height: 45px; padding: 0px 24px; margin-bottom: 10px; background:#21b2fe; border: 0;  
  }
  .sign-up-free{
	background:#21b2fe; color: #FFFFFF; height: 300px;  
  }
  .col-can:hover{
	text-decoration: none !important;
  }
  .banner-transparency{
     background-size: cover;background-repeat: no-repeat;
  }
  .ban-trans{
	  background-size: cover; width: 100%;height: 100%;
  }
  .int-app{
	  font-family: 'OpenSansLight';  
	  font-size: 3vw;
	  color: #FFFFFF;
	  padding: 60px 0 30px;
  }
  .main-heading{
		color:#40929B; text-align:left; font-size: 25px; text-transform:uppercase; font-weight: bold;
  }

  .padding-box{
		padding: 0 5% !important;
  }
  
  
 @media (max-width: 768px) {
	#start-up-sec{
		margin-bottom: 10px;	
	}
	#prof-sec{
		margin-bottom: 10px;	
	}
	#associates-sec{
		margin-bottom: 10px;	
	}
	#public-sec{
		margin-bottom: 10px;	
	}
	.diff_sol{
		border-bottom: none;
    	border-top: none;
	}
	.sol_header{
		margin-top: 10%;
	}
	 .case-border{
		border-right: none; 
	 }
	 .case-padding{
		padding-left: 0px; 
	 }
	 .margin-support{
		margin-bottom: 15px; 
		text-align: center;
	 }
	 #case-sec{
		padding: 0px; 
	 }
	 #sol-sec{
		 padding: 0px; 
	 }
	 #news-sec{
		 padding: 0px;
	 }
	 .proj-div{
		border-bottom: none;
	 }
	  .mod-cls{
		 text-align: center;
		 margin-left: 0;
	 }
	 
	 .mod-img-cls{
		text-align: center;
		position: relative;
	 }
	 .mod-icon{
		margin-right: 0px; 
	 }
	 .solAbt-bg{
		height: auto; 
	 }
	 .transDiv h3{
	   font-size:14px;
	 }
	 .topTransDiv{
	   top:38%;
	 }
	 .tsetDlabelMain{
      	margin-top: 2px; background:url(../images/website/testdrive_new.jpg); background-size: cover;
  	 }
	 .tsetDlabel{
        font-size: 14px; 
		text-align: center;
		margin-top:10px;
     }
	 .driveClsBtn{
	   padding-left:0;
	   width:100%;
	   text-align: center; 
	   margin: 10px;
	   margin-top: 0%;
	 }
	 .no-margin{
		margin-bottom: 0; 
	 }
	 .standard-pricing{
		margin-bottom: 20px; 
	 }
	 .signup-margin{
		margin-top: 0%;	
	}
	.btn-margin{
		margin-left: 0px;	
	}
	.advisory{
		margin-bottom: 10px;
	}
	.inImg{
		display: none;	
	}
	.mTeam{
		margin-bottom: 20px !important;	
	}
	.userImg{
		text-align: center;	
	}
	.trasperentTextDiv{
		height: auto;	
	}
	.banner-text{
		color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 16px;
	}
	.banner-text-second{
		color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 16px;;
	}
	.bennerTextRight{
	 padding: 12px 16px 30px;
	}
	.bennerTextLeft{
	 padding: 12px 16px 30px;
	}
	  .banner-sub-cont{
		  font: 17px/130% 'OpenSansLight';
		  color: #FFFFFF;
	  }
	  .abt-img{
		margin-top: 0px;  
  	  }
	  .sign-up-cls{
		margin-top: 10px;  
	  }
	  .sign-up{
		background: #20262f; opacity: 0.7; border-radius: 4px; padding: 35px; margin-top: 20px; background-size: cover;
	  }
	  .ban-trans{
		  background: #000000; opacity: 0.8; background-size: cover; height: 53%;height: 100%;
	  }
	 
 }
 @media (max-width: 468px) {
	#start-up-sec{
		margin-bottom: 10px;	
	}
	#prof-sec{
		margin-bottom: 10px;	
	}
	#associates-sec{
		margin-bottom: 10px;	
	}
	#public-sec{
		margin-bottom: 10px;	
	} 
	.diff_sol{
		border-bottom: none;
    	border-top: none;
	}
	.sol_header{
		margin-top: 0%;
	}
	.case-border{
		border-right: none; 
	 }
	 .case-padding{
		padding-left: 0px; 
	 }
	 .margin-support{
		margin-bottom: 15px; 
		text-align: center;
	 }
	 #case-sec{
		padding: 0px; 
	 }
	 #sol-sec{
		 padding: 0px; 
	 }
	 #news-sec{
		 padding: 0px;
	 }
	 .proj-div{
		border-bottom: none;
	 }
	  .mod-cls{
		 text-align: center;
		 margin-left: 0;
	 }
	 .mod-img-cls{
		text-align: center;
		position: relative;
	 }
	  .mod-icon{
		margin-right: 0px; 
	 }
	 .solAbt-bg{
		height: auto; 
	 }
	  .transDiv h3{
	   font-size:8px;

	 }
	 .topTransDiv{
	   top:32%;
	 }
	 .tsetDlabelMain{
      	margin-top: 2px; background:url(../images/website/testdrive_new.jpg); background-size: cover;
  	 }
	 .tsetDlabel{
       font-size: 13px; 
	   margin-top:10px;
	   text-align: center;
     }
	 .driveClsBtn{
	   padding-left:0;
	   width:100%;
	   text-align: center; 
	   margin: 10px;
	   margin-top: 0%;
	 }
	  .no-margin{
		margin-bottom: 0; 
	 }
	 .standard-pricing{
		margin-bottom: 20px; 
	 }
	  .signup-margin{
		margin-top: 0%;	
	}
	.btn-margin{
		margin-left: 0px;	
	}
	.advisory{
		margin-bottom: 10px;
	}
	.inImg{
		display: none;	
	}
	.mTeam{
		margin-bottom: 20px !important;	
	}
	.userImg{
		text-align: center;	
	}
	.trasperentTextDiv{
		height: auto;	
	}
	.abt-img{
		margin-top: 0px;  
  	  }
	  .sign-up-cls{
		margin-top: 10px;  
	  }
	  .sign-up{
		background: #20262f; opacity: 0.7; border-radius: 4px; padding: 35px; margin-top: 20px; background-size: cover;
	  }
	  .ban-trans{
		  background: #000000; opacity: 0.8; background-size: cover; height: 53%;height: 100%;
	  }
	 
 }
  @media (max-width: 991px) {
	 .nav ul li a{
		font-size: 11px; 
	 }
	  .signup-margin{
		margin-top: 0%;	
	}
	.btn-margin{
		margin-left: 0px;	
	}
	.advisory{
		margin-bottom: 10px;
	}
	.inImg{
		display: none;	
	}
	.mTeam{
		margin-bottom: 20px !important;	
	}
	.userImg{
		text-align: center;	
	}
	.mod-icon{
		margin-right: 0px; 
		position:static;
	 }
	.trasperentTextDiv{
		height: auto;	
	}
	.banner-text{
		color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 16px;	
	}
	.banner-text-second{
		color: rgb(255, 255, 255); text-transform: none; opacity: 1; margin: 0px; line-height: 16px;;
	}
	  .banner-sub-cont{
		  font: 17px/130% "LatoRegular",sans-serif;
		  color: #FFFFFF;
	  }
	  .abt-img{
		margin-top: 0px;  
  	  }
	  .sign-up-cls{
		margin-top: 10px;  
	  }
	  .tsetDlabelMain{
      	margin-top: 2px; background:url(../images/website/testdrive_new.jpg); background-size: cover;height: auto;
  		}
		.sign-up{
		background: #20262f; opacity: 0.7; border-radius: 4px; padding: 35px; margin-top: 20px; background-size: cover;
	  }	
  }
  .bgWhite{
  	background: #fff;
  }
  .paddingBtm{
 	margin-bottom: 2%;
 }
 .bgGray{
 	background: #f2f2f2;
 }
 .reg-div-cls{
		margin-top: 10px !important;
	}
}
 /* font sizes for different resolutions*/
@media screen and (min-width: 768px) {
	.resize-font{
		font-size: 15px;
		line-height: 25px;
		font-family:open_sansregular;
	}
	.main-heading{
		font-size: 18px;font-family:open_sansregular;
		font-weight:bold;
  	}
  	.main-cont-span{
  		font-family:open_sanscondensed_light;
  		font-size: 25px;
  		font-weight:bold;
  	}
  	.col-can{
  		font-family:open_sanscondensed_light;
  		font-size: 29px;font-weight: bold;line-height: 30px;
  	}
  	.bus-p{
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.banner-main-cont{
  		font-size: 20px;
  		line-height:22px;
  		font-weight: bold;
  		font-family: open_sansbold;
  		color: #FFFFFF;
  	}
  	.start-btn{
  		height: 40px; 
  		width: 100%; 
  		background:#f8931d !important; 
  		border-radius: 7px !important;
  		font-family: open_sansregular;
  		font-size: 16px !important;
  	}
  	.text-left{
  		font-family: open_sansregular;
  		font-size: 18px;
  		line height: 25px;
  	}
  	.mod-desc{
		text-align: justify; 
		font-size: 15px;
		font-family:open_sansregular;
		line-height: 22px;
	 }
	 .p-margin{
		margin: 40px;
		color: #000000;	
		font-size: 18px;
		line-height: 22px;
	}
	.exp-col{
  		color: #FFFFFF; font-size: 25px; font-family: open_sanscondensed_light;margin-bottom: 10px;
  	}
  	.inno-div{
		background: #636972;
	}
	.ind-desc{
		text-align: justify; 
		font-size: 14px;
		font-family:open_sansregular;
		line-height: 26px;
	}
	.ind-name{
		font-family: open_sanscondensed_light;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 30px;
	}
	.pricing-heading{
		padding: 0% !important;
	}
	.pricing-btn{
		margin-top: 15% !important;
	}
	.reg-div-cls{
		margin-top: 10px !important;
	}
}


@media (max-width: 767px) {
	.resize-font{
		font-size: 15px;
		line-height: 25px;
		font-family:open_sansregular;
	}
	.main-heading{
		font-size: 18px;font-family:open_sansregular;
		font-weight:bold;
  	}
  	.main-cont-span{
  		font-family:open_sanscondensed_light;
  		font-size: 25px;
  		font-weight:bold;
  	}
  	.col-can{
  		font-family:open_sanscondensed_light;
  		font-size: 31px;
  		font-weight: bold;
  		line-height: 30px;
  	}
  	.bus-p{
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.banner-main-cont{
  		font-size: 20px;
  		line-height:22px;
  		font-weight: bold;
  		font-family: open_sansbold;
  		color: #FFFFFF;
  	}
  	.start-btn{
  		height: 40px; 
  		width: 100%; 
  		background:#f8931d !important; 
  		border-radius: 7px !important;
  		font-family: open_sansregular;
  		font-size: 16px !important;
  	}
  	.text-left{
  		font-family: open_sansregular;
  		font-size: 15px;
  		line-height: 23px;
  	}
  	.mod-desc{
		text-align: justify; 
		font-size: 15px;
		font-family:open_sansregular;
		line-height: 22px;
	 }
	 .p-margin{
		margin: 40px;
		color: #000000;	
		font-size: 18px;
		line-height: 22px;
	}
	.exp-col{
  		color: #FFFFFF; font-size: 25px; font-family: open_sanscondensed_light;margin-bottom: 10px;
  	}
  	.inno-div{
		background: #636972;
	}
	.sol-header{
		color: #FFFFFF; font-family: open_sanscondensed_light; font-size: 16px; float: left; padding-top: 10px; font-weight :bold;
	}
	.ind-desc{
		text-align: justify; 
		font-size: 14px;
		font-family:open_sansregular;
		line-height: 26px;
	}
	.ind-name{
		font-family: open_sanscondensed_light;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 30px;
	}
	.pricing-heading{
		padding: 0% !important;
	}
	.pricing-btn{
		margin-top: 15% !important;
	}
	.pricing-heading{
		padding: 0 !important;
	}
	.reg-div-cls{
		margin-top: 10px !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.resize-font{
		font-size: 15px;
		line-height: 18px;
		font-family:open_sanscondensed_light;
	}
	.main-heading{
		font-size: 12px;font-family:open_sansregular;
		font-weight:bold;
  	}
  	.main-cont-span{
  		font-family:open_sanscondensed_light;
  		font-size: 19px;
  		font-weight:bold;
  	}
  	.col-can{
  		font-family:open_sanscondensed_light;
  		font-size: 33px;
  		font-weight: bold;
  		line-height: 30px;
  	}
  	.bus-p{
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.banner-main-cont{
  		font-size: 30px;
  		line-height:30px;
  		font-weight: bold;
  		font-family: open_sansbold;
  		color: #FFFFFF;
  	}
  	.start-btn{
  		height: 40px; 
  		width: 100%; 
  		background:#f8931d !important; 
  		border-radius: 0 7px 7px 0;
  		font-family: open_sansregular;
  		font-size: 15px !important;
  	}
  	.text-left{
  		font-family: open_sansregular;
  		font-size: 15px;
  		line-height: 23px;
  	}
  	.mod-desc{
		text-align: justify; 
		font-size: 15px;
		font-family:open_sansregular;
		line-height: 22px;
	 }
	 .p-margin{
		margin: 40px;
		color: #000000;	
		font-size: 17px;
		line-height: 22px;
	}
	.exp-col{
  		color: #FFFFFF; font-size: 40px; font-family: open_sanscondensed_light;margin-bottom: 10px;
  	}
  	.inno-div{
		background: #636972;
		height: 250px;
	}
	.sol-header{
		color: #FFFFFF; font-family: open_sanscondensed_light; font-size: 16px; float: left; padding-top: 10px; font-weight :bold;
	}
	.ind-desc{
		text-align: justify; 
		font-size: 14px;
		font-family:open_sansregular;
		line-height: 26px;
	}
	.ind-name{
		font-family: open_sanscondensed_light;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 30px;
	}
	.pricing-btn{
		margin-top: 15% !important;
	}
	.pricing-soc{
		margin-top: 35% !important;
	}
	.pricing-heading{
		padding: 0 !important;
	}
	.reg-div-cls{
		margin-top: 55px !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.resize-font{
		font-size: 15px;
		line-height: 25px;
		font-family:open_sansregular;
	}
	.main-heading{
		font-size: 18px;font-family:open_sansregular;
		font-weight:bold;
  	}
  	.main-cont-span{
  		font-family:open_sanscondensed_light;
  		font-size: 25px;
  		font-weight:bold;
  	}
  	.col-can{
  		font-family:open_sanscondensed_light;
  		font-size: 36px;
  		font-weight: bold;
  		line-height: 30px;
  	}
  	.bus-p{
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.banner-main-cont{
  		font-size: 35px;
  		line-height:30px;
  		font-weight: bold;
  		font-family: open_sansbold;
  		color: #FFFFFF;
  	}
  	.start-btn{
  		height: 40px; 
  		width: 100%; 
  		background:#f8931d !important; 
  		border-radius: 0 7px 7px 0;
  		font-family: open_sansregular;
  		font-size: 15px !important;
  	}
  	.text-left{
  		font-family: open_sansregular;
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.mod-desc{
		text-align: justify; 
		font-size: 15px;
		font-family:open_sansregular;
		line-height: 27px;
	 }
	 .p-margin{
		margin: 40px;
		color: #000000;	
		font-size: 18px;
		line-height: 22px;
	}
	.exp-col{
  		color: #FFFFFF; font-size: 40px; font-family: open_sanscondensed_light;margin-bottom: 10px;
  	}
  	.inno-div{
		background: #636972;
		height: 350px;
	}
	.sol-header{
		color: #FFFFFF; font-family: open_sanscondensed_light; font-size: 16px; float: left; padding-top: 10px; font-weight :bold;
	}
	.ind-desc{
		text-align: justify; 
		font-size: 14px;
		font-family:open_sansregular;
		line-height: 26px;
	}
	.ind-name{
		font-family: open_sanscondensed_light;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 30px;
	}
	.pricing-btn{
		margin-top: 15% !important;
	}
	.pricing-soc{
		margin-top: 35% !important;
	}
	.pricing-heading{
		padding: 0 !important;
	}
	.reg-div-cls{
		margin-top: 60px !important;
	}
}

@media (min-width: 1200px) {
	.resize-font{
		font-size: 15px;
		line-height: 25px;
		font-family:open_sansregular;
	}
	.main-heading{
		font-size: 18px;font-family:open_sansregular;
		font-weight:bold;
  	}
  	.main-cont-span{
  		font-family:open_sanscondensed_light;
  		font-size: 25px;
  		font-weight:bold;
  	}
  	.col-can{
  		font-family:open_sanscondensed_light;
  		font-size: 40px;
  		font-weight: bold;
  		line-height: 30px;
  	}
  	.bus-p{
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.banner-main-cont{
  		font-size: 40px;
  		line-height: 30px;
  		font-weight: bold;
  		font-family: open_sansbold;
  		color: #FFFFFF;
  	}
  	.start-btn{
  		height: 40px; 
  		width: 100%; 
  		background:#f8931d !important; 
  		border-radius: 0 7px 7px 0;
  		font-family: open_sansregular;
  		font-size: 15px !important;
  	}
  	.text-left{
  		font-family: open_sansregular;
  		font-size: 15px;
  		line-height: 25px;
  	}
  	.exp-col{
  		color: #FFFFFF; font-size: 40px; font-family: open_sanscondensed_light;margin-bottom: 10px;
  	}
  	.menu-font{
  		font-family: open_sansbold;
  	}
  	.mod-desc{
		text-align: justify; 
		font-size: 15px;
		font-family:open_sansregular;
		line-height: 27px;
	 }
	 .p-margin{
		margin: 40px;
		color: #000000;	
		font-size: 18px;
		line-height: 22px;
	}
	.inno-div{
		background: #636972;
		height: 300px;
	}
	.sol-header{
		color: #FFFFFF; font-family: open_sanscondensed_light; font-size: 16px; float: left; padding-top: 10px; font-weight :bold;
	}
	.ind-desc{
		text-align: justify; 
		font-size: 14px;
		font-family:open_sansregular;
		line-height: 26px;
	}
	.ind-name{
		font-family: open_sanscondensed_light;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 30px;
	}
	.pricing-btn{
		padding: 15px;
		margin-bottom: 10px; 
		border-right: 0; 
		border-left: 0; 
		border-top: 1px solid #DDDDDD; 
		border-bottom: 1px solid #DDDDDD; 
		background: #FFFFFF; 
		color: #000000 !important; 
		font-size: 20px;
		margin: 20px; 
		margin-top: 40px;
		font-family: open_sansregular;
	}
	.pri-font{
		font-size: 20px;
  		font-weight: bold;
  		font-family: open_sansbold;
	}
	.border-cls{
		border: 1px solid; padding: 10px; border-bottom: 0;
	}
	
	.table-cls td{
		border-bottom: 1px solid #c0d9f0;
	    border-left: 1px solid #c0d9f0;
	    height: 60px;
	    padding: 0 12px
	}
	.pricing-shadow {
	  -webkit-box-shadow: 3px 3px 5px 6px #eaeaea;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	  -moz-box-shadow:    3px 3px 5px 6px #eaeaea;  /* Firefox 3.5 - 3.6 */
	  box-shadow:         3px 3px 5px 6px #eaeaea;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
	.pricing-font{
		 font-family: open_sansregular;
		 text-align: center;
	}
	.pri-module{
		 font-family: open_sansregular;
	}
	.reg-div-cls{
		margin-top: 65px !important;
	}
}
.forgotPwd-div:hover{
	text-decoration: underline;
}
.cnt-us-btnHover:hover{
	background: #00aeef !important;
	color: #FFFFFF !important;
}
.plansSubSectionCls{
   border: 1px solid #BFBFBF;
   padding: 4px;
   float: left;
   width: 24.4%;
   position:relative;
   box-shadow:1px 1px 8px 2px #eaeaea;
   -webkit-box-shadow: 1px 1px 8px 2px #eaeaea;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow:    1px 1px 8px 2px #eaeaea;
}
.plansSubSectionMarginCls{
	margin-right: 0.8%;
	/*margin-right:3%;*/
}
.planSectionContent{
   margin-top: 9%;
   float: left;
   width: 100%;
}
.plansContentBlueBarDiv{
    float: left;
    width: 12%;
    padding-left: 2%;
    text-align: left;
}

.plansContentDataDiv{
   float: left;
   width: 88%;
   text-align: left;
}
.plansContentDataDivHeader{
   font-size: 13px;
   font-weight: bold; 
   font-family: open_sansregular;
   text-transform: uppercase;
   color: #032932;
   float: left;
   width: 72%;
   margin-bottom: 5px;
}
.plansContentDataDivSubHeader{
   font-size: 12px;
   font-weight: bold; 
   font-family: open_sansregular;
   color: #032932;
   float: left;
   width: 80%;
   margin-bottom: 8px;
}
.plansContentDataDivSubcontent{
   font-size: 11px;
   font-family: open_sansitalic;
   color: #032932;
   float: left;
   width: 100%;
   margin-bottom: 0;
   line-height: 17px;
}
.plansContentDataDivUpgrade{
   font-size: 11px;
   color:#2d7eba;
   float: left;
   width: 75%;
   margin-bottom: 4%;
   line-height: 17px;
}
.plansContentDataDivExtra{
   font-size: 10px;
   color: #939393;
   float: left;
   width: 75%;
   margin-bottom: 4%;
   line-height: 17px;
}
.plansContentDataDivSubcontentEmpty{
	height: 30px;float: left;width: 100%;
}
.plansContentPriceDiv{
   float: left;
   width:17%;
}
.plansContentDataDivFreeBtn{
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    font-family: open_sansbold_italic;
    text-transform: uppercase;
    background: #8CC63E;
    border-radius: 2px;
    padding: 6% 1%;
}
.plansContentDataDivCallUsBtn{
   font-size: 10px;
   font-weight: bold; 
   color:#fff;
   font-family: open_sansbold_italic;
   text-transform: uppercase;
   background: #F1A712;
   border-radius:2px;
   padding: 6% 1%;
   text-align: center;
}

.plansContentDataDivPrice{
   font-size: 11px;
   font-weight: bold; 
   font-family: open_sansregular;
   color: #032932;
   float: left;
   width: 100%;
   margin-top: 4px;
}
.colPriceUnCheckCls{
	background-image: url("../images/website/priceUncheck.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: left;	
	cursor: pointer;
	margin-left: 2%;
	margin-right: 5%;
	margin-top: 2px;
}
.colPriceCheckCls{
	background-image: url("../images/website/tealdot.png");
	background-repeat: no-repeat;
	margin-top: 2px;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 2%;
	margin-right: 5%;
    cursor: pointer;
}
.colPriceDefaultImgCls{
	background-image: url("../images/website/tealdot.png");
	background-repeat: no-repeat;
	margin-top: 2px;
	width: 16px;
	height: 16px;
	float: left;	
}
.priceHighlightCls{
	color: #000;
}
.priceNotHighlightCls{
    /*color: #5fc0d2;*/
    color: #2d7eba;
}
.pricetransparentDiv{
  /* -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter:alpha(opacity=50); 
   -moz-opacity: 0.4; 
   opacity: 0.4;
   -khtml-opacity: 0.4;
   z-index:500;
   float:left;
   background-color:#000000;	*/
}
/* css for tooltip*/
a.custtooltip {outline:none; }
a.custtooltip strong {line-height:20px;}
a.custtooltip:hover {text-decoration:none;} 
.rightArrowPopup{
    z-index:10;
    display:none; 
    padding:10px;
    margin-top:-34px; 
    margin-left:-275px;
    width:260px;
    line-height:10px !important;
    font-size: 10px;
    text-align: left;
}
.leftArrowPopup{
    z-index:10;
    display:none; 
    padding:10px;
    margin-top:-34px; 
    margin-left:28px;
    width:260px;
    line-height:10px !important;
    font-size: 10px;
    text-align: left;
}
a.custtooltip p {
	 line-height:18px !important;

	}
a.custtooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #92908F; background:#fff;}
.lefttooltiparrow {z-index:20;position:absolute;top:25px;border:0;left:-16px;}
.righttooltiparrow {z-index:20;position:absolute;top:25px;border:0;left:257px;}
    
/*CSS3 extras*/
a.custtooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
.integrationDriveCls{
    background: #F7F5F6;
    border: 1px solid #C6C6C6;
    margin-top: 30px;
}
.driveIntCls{
	float: left;
	margin-right: 8%;
}
.integrationMainCls{
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 1px 2px 18px -8px #000;
  -moz-box-shadow: 1px 2px 18px -8px #000;
  box-shadow: 1px 2px 18px -8px #000;
  background: #fff;
  border-radius:4px;
  padding: 2% 2% 2% 1%;
  margin-bottom: 20px;
  margin-right: 2%;
  float: left;
  width: 31%;
}
.integrationHeaderCls{
  font-size: 18px;
    font-weight: 900;
    color: #3A3A3A;
    float: left;
    width: 83%;
    margin-bottom: 4px;
}
.integrationSubHeaderCls{
	float: left;
    font-size: 12px;
    color: #ACB1C0;
    width: 83%;
}
.integrationContentCls{
	font-size: 14px;
    float: left;
    margin-left: 17%;
    line-height: 20px;
    margin-bottom: 20px;
    color: #676d76;
    min-height: 90px;
    
}
.intLearnMoreCls a{
	font-size: 15px;
	color: #179dba;
	margin-left: 15%;
}
.intLearnMoreCls a:HOVER {
	text-decoration: underline;
	cursor: pointer;
	color: #179dba;
	
}
.intDriveIcons{
	float: left;width: 17%;
	}
.creator{
	font-size: 13px;
	font-style: italic;
	color: #808287;
	margin-bottom: 20px;
}
.driveDetailsHeader{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    float:left;
    width: 100%;
}
.integrationDetailsContentCls{
	font-size: 14px;
    float: left;
    line-height: 20px;
    color: #676d76;
    width: 100%;
}
.intKnowMore a{
   color: #fff;
}
.intKnowMore:hover a{
   text-decoration: none;
   color: #fff;
}
/*css tooltip ends here*/
