html, body, .parent {
	height: 100%;
}
.parent{
	display: flex;

align-items: center;

justify-content: center;
}
.centreDiv {
height: 70%;
width: 70%;
left: 15%;
position: absolute;
top: 15%;
display: flex;
}

.clock {
	position: relative;
	width: 450px;
	height: 450px;
	
	/*background: url(images/mykronus/watchface512.png);
		background-position-x: 0%;
		background-position-y: 0%;
	/*display: table;*/
	background-position: center;
	background-repeat: no-repeat;
	
	
	
}


/*   .clock:after {
	position: absolute;
	content: '---';
	background: #7b5217;
	background-image: url(images/mykronus/dot.png);
	width: 30px;
	
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
	border: 1px solid #f5b402;
}  
 */

.hands {
		width: 100%;
		height: 100%;
}
#hourHand{
	position: absolute;
}
#seconHand{
	position: absolute;
}
#minuteHand{
	position: absolute;
}
#THand{
	position: absolute;
}

#play{
	    border: none;
    	background-color: transparent;
}
#resume{
	    border: none;
    	background-color: transparent;
}
/* #myCanvas{
	height:100%;
	width:100%;
	margin-left:-84px;

} */

@media ( max-width : 767px) {
	.clock {
		position: relative;
		width: 350px;
		height: 350px;
		
		/*background: url(images/mykronus/watchface512.png);
			background-position-x: 0%;
			background-position-y: 0%;
		/*display: table;*/
		background-position: center;
		background-repeat: no-repeat;
   }
}	